[2022-04-22 10:23] guiyomh commented on #2209
@nipuna-perera I will try it.

@dolanor and @grouville I think, I have the same with `yarn.#Run`. With a small variation, I have the impression that my custom image is not used (it's still the default image).

[code]

[2022-04-22 11:56] TomChv opened #2269 "Explain input/output concept"
### What is the issue?

Many users have difficulties to understand input and output concept and that lead them to issues they do not really understand.

We should write a page in `core concept` category to explain how you can link action together through input and output.
We should also explain when use `docker.#Build` and when not.

And also explain how create dependency between actions that not

[2022-04-22 12:00] AP-Hunt commented on #2248
I tried @jlongtine's solution with Dagger 0.2.7 on Mac (thanks!). I expected `dagger do test` to write the file, but it didn't.
[code]

I had to do `dagger do copy` which, to me, seemed like it was leaking an implementation detail. The below modification worked in the way I would've expected:

[code]

[code]

[2022-04-22 16:16] DazWilkin opened #2272 "Provide an example for "You can extend your script by wrapping it, as-is, into a DAG. This allows you to start using Dagger right away, and worry about rewrites later.""
### What is the issue?

The statement "[You can extend your script by wrapping it, as-is, into a DAG. This allows you to start using Dagger right away, and worry about rewrites later.](https://docs.dagger.io/1220/vs)" is interesting but there's nothing to back it up. I'm skeptical that wrapping a complex bash script as-is into a DAG would offer benefit but I'd value an example being included in yo

[2022-04-22 16:24] marcosnils commented on #2248
Yep, @jlongtine's suggestion was a mostly a quick example. :raised_hands:

[2022-04-22 16:25] marcosnils commented on #2269
Do you have a link to a thread in discord or an example about use-cases users were trying to achieve and they were finding confusing? That could help to put a guide relatively easy

[2022-04-22 16:27] jpadams opened #2273 "docs: Increase resolution of Jenkins video on youtube and relink to docs page"
@jpadams . Do you think it's possible to get a higher resolution on the YouTube video ? Right now we can't go up to 480p. Thanks

_Originally posted by @slumbering in https://github.com/dagger/dagger/issues/2268#issuecomment-1106140226_

[2022-04-22 16:44] jpadams opened #2274 "docs: Guide on how to pull structured data files into Dagger plans"
## Declaratively

You can do that declaratively already.

[code]

<details><summary><h3>Full plan</h3></summary>

[code]

</details>

Output:

[code]

_Notice I'm using outputs from #2265, which is a WIP._

## Custom file

Do you need to provide random file name/paths into the CLI command?

[code]

Output:

[code]

Notice that uses the **default** path, but you can use another:

[code]

_Originall

[2022-04-22 16:59] sipsma commented on #2140
Had some promising ideas about the problems here which have resulted in more concrete plans. I like these ideas because they don't require any upstream Buildkit changes, which makes it faster to get experimenting and potentially get useful features if the ideas pan out.

---

**Cache Dir Export**
New idea: run an`AsyncExec` with the shared cache dir mounted, put a daemon in there that handles the

[2022-04-22 17:23] nipuna-perera commented on #2053
@grouville , I have pinged you on Discord. Do you still need help with this?

[2022-04-22 18:07] aluzzardi commented on #2140
Sounds like a solid plan!

- **Scopes+Additive Caches on Any Backend**

`cache-from` / `cache-to` using CUE is a very interesting idea. I'm wondering how "involved" the user would need to be to set this up (e.g. would this require setting up some CI specific settings on the Plan such as repository etc).

Alternatively, we could split that logic between the CI specific integration code (e.g. GH Act

[2022-04-22 18:32] sipsma commented on #2140
True, both sides of this will need to be involved for sure, I guess it's just about where we draw the border exactly. My hope is that putting more of the logic in dagger packages would result in more generic and re-usable code across multiple integrations. Then the CI-specific code code just be used to setup env vars and other client state that can be read by the dagger package as args essentially

[2022-04-22 18:38] jpadams opened #2276 "Move Jenkins example in docs from helloworld to todoapp"
### What is the issue?

Currently content is centered around a helloworld plan, but heading on doc says that the CI-specific examples continue the local example of tododapp.

[2022-04-22 18:38] marcosnils commented on #2224
:pray: thx for following up on this one. Let's see what Tonis says about this.

[2022-04-22 18:39] jpadams commented on #2273
<img width="1025" alt="image" src="https://user-images.githubusercontent.com/3187222/164763311-0381d754-9571-43e3-bb35-f15f3e54b6df.png">

@slumbering Not sure what I need to fix. I'm going to try to get on same toolchain as @talentedmrjones (Camtasia) in near future for these videos.

[2022-04-22 19:11] TomChv commented on #2269
Sure : https://discord.com/channels/707636530424053791/966990447065071648 is a good example

[2022-04-22 19:22] jpadams commented on #2259
Thanks for the suggestion, @1nv1n! Have you built a choco package before?

@ferventcoder 👋 as a big Chocolatey fan myself, I'll be looking into how we can add Dagger :)
https://docs.chocolatey.org/en-us/create/create-packages

[2022-04-22 19:31] TomChv commented on #2140
I think this has the most potential to be valuable to users quickest

I think we could use the Client API to let user specify where store cache.

Here's a quick example from my mind

[code]

And so this will be transform in `--cache-to type=regsitry,ref=localhost:6000/toto:my-cool-plan`

WDYT?

I really like that idea but may with time it will be complex to maintain those daemons, indeed, we shoul

[2022-04-22 19:37] nicolaiunrein opened #2279 "🐞 Panic when extracting action"
### What is the issue?

Seems that dagger is crashing on dereferencing Secrets in certain cases.
Consider the below code example and stack trace.

It's my first day with dagger and I like it a lot so far ❤️

[code]
...produces this error:

### Log output
[code]

### Steps to reproduce

#### Minimal Reproducable Example
[code]

### Dagger version

dagger 0.2.7 (18c19174) darwin/amd64

### OS versio

[2022-04-22 19:53] jpadams opened #2280 "Add env var defaults to docs"
### What is the issue?

Add example with this change: https://github.com/dagger/dagger/pull/2122#event-6411429502

here: https://docs.dagger.io/1203/client#environment-variables

[2022-04-22 20:32] sipsma commented on #2140
Agreed but I also can't think any way to avoid something that needs to be maintained. Even if we, say, upstream support for a particular backend to Buildkit (similar to how Buildkit supports GHA today), we will still need to maintain the code there. From that perspective, I'd actually rather maintain something more modular that can be upgraded on the fly without having to upgrade the entirety of B

[2022-04-22 20:36] sipsma commented on #2140
I guess another nice thing about supporting cache settings like this inside dagger plans/actions is that you could potentially use dagger to setup the cache infra. I.e. I could provision a registry using Dagger (or just do a noop if it already exists) and then use that as the cache backend for the rest of my plan. This sounds like it could complicate our cue workflow, but probably something that c

[2022-04-22 21:01] helderco commented on #2280
There’s an example already, what am I missing?

[2022-04-22 21:15] jpadams opened #2282 "Add this comment and `update`+`do` pattern to all CI examples?"
### What is the issue?

Should we add this comment and `update`+`do` pattern to all CI examples as a best practice until more package/dependency management changes land?

https://github.com/dagger/dagger/blob/main/.github/workflows/todoapp.yml#L75-L78

[2022-04-22 21:47] jpadams commented on #2280
Whoops missed it! Thanks @helderco

[code]

[2022-04-22 21:47] #2280 closed

[2022-04-22 21:52] jpadams commented on #2272
@DazWilkin Thanks for this issue!

Is there a public example similar to your deployment process that would be a good starting point?

Also, ping me in Discord if you'd like to work on your use case.

[2022-04-22 22:23] 1nv1n commented on #2259
I have not! But it seems easy, given we already have the install-script for Dagger. I'll be looking into this as well.

[2022-04-22 22:44] DazWilkin commented on #2272
Thanks @jpadams for the prompt response!

The deployment repo's private but I'd be willing to add you or others to it if that would help.

My "thing" runs predominantly on Google Cloud Platform where it spans Firestore (DB), Cloud Run (serverless containers), Kubernetes and platform resource config, but there are additional platforms (GitHub, Stripe) involved too.

It may be too complex as a start

[2022-04-22 23:15] sipsma opened #2283 "🐞 Parallel Dagger clients with overlapping LLB vertices can receive the wrong progress logs"
### What is the issue?

A dagger client running in parallel with another one (i.e. multiple invocations of `dagger do` that are talking to the same buildkitd at the same time) can see logs meant for the other client if the two share any LLB vertices with equal digests (which includes both the vertex itself and all its ancestors).

This is a bug in Buildkit where it deduplicates the execution of ex

[2022-04-22 23:30] sipsma commented on #2283
Issue in Buildkit: https://github.com/moby/buildkit/issues/2820

[2022-04-22 23:32] sipsma commented on #2139
https://github.com/dagger/dagger/issues/2283 should maybe be part of this epic, though it's more obscure than the existing issues here

[2022-04-22 23:39] aluzzardi commented on #2245
Fixed in #2258!

[2022-04-22 23:39] #2245 closed

[2022-04-22 23:52] samalba opened #2285 "🐞 bash.#Run does not work with a container image with an `entrypoint`"
### What is the issue?

When there is an entrypoint set on a base image, `bash.#Run` ends up with invalid arguments (bash cmd and arguments are appended to the existing entrypoint).

Instead it should always set an entrypoint to `/bin/bash` to work with all kind of base images.

### Log output

_No response_

### Steps to reproduce

_No response_

### Dagger version

dagger 0.2.7 (18c19174) darwin

[2022-04-23 03:54] morlay commented on #1371
May support builder like buildx did.
https://github.com/docker/buildx/tree/master/driver

qemu not always working for compiling

we need run image on matched native machine
so multiple buildkits for different archs is nesessary.

[2022-04-24 15:53] morlay commented on #2163
@samalba

With some refactor. now just change oneline in `compiler/build.go` (github.com/octohelm/cuemod@v0.3.4)

[code]

Before the "go-get" supported https://github.com/dagger/dagger/issues/2163#issuecomment-1105189593
the replace directive have to added.

[2022-04-24 17:33] #2285 closed

[2022-04-25 07:25] slumbering commented on #2130
Done through PR #2131

[2022-04-25 07:25] #2130 closed

[2022-04-25 07:26] #1761 closed

[2022-04-25 09:23] slumbering commented on #2014
Hi  @alexellis ! The problem has been fixed. Thanks

[2022-04-25 09:23] #2014 closed

[2022-04-25 09:24] slumbering commented on #2230
Hi @danenania ! Thanks for your message. This issue has been fixed.

[2022-04-25 09:24] #2230 closed

[2022-04-25 12:21] kjuulh opened #2295 "🐞 docker.#Run mount with sub variable fails"
### What is the issue?

There is a problem with vars in docker mount.

The idea is that a split of variables in docker mount causes `dagger do build` to failed

[code]

### Log output

[code]

### Steps to reproduce

[code]

see: https://github.com/kjuulh/dagger/pull/1 for code

the diff

The difference is basically

[code]

diff -U3   doesntwork/doesnt-work.cue works/works.cue
[code]

### Dagger

[2022-04-25 15:48] marcosnils opened #2296 "✨ Add snapshot binaries"
### What are you trying to do?

In https://github.com/dagger/dagger-for-github/pull/53 we discussed the option to have `snapshot` binaries so we avoid building Dagger from the source through a Dockerfile in the action which could potentially cause ecosystem fragmentation.

### Why is this important to you?

For users that want to use bleeding edge Dagger features in their CI pipelines without havi

[2022-04-25 16:47] #2240 closed

[2022-04-25 16:51] jlongtine opened #2297 "🐞 Fix `dagger do` flag validation"
### What is the issue?

https://github.com/dagger/dagger/pull/2261 broke flag validation for `dagger do` (while fixing another issue created by changing cobra flag parsing). We should work to enforce flag validation again.

### Log output

_No response_

### Steps to reproduce

_No response_

### Dagger version

dagger 0.2.7

### OS version

macOS 12.3

[2022-04-25 17:02] marcosnils commented on #2297
We should also create tests for flag parsing so we guarantee not to break this functionality moving forward.

[2022-04-25 17:07] shykes opened #2298 "🐞 Can't load plan by absolute path"
## Summary

When specifying a plan (`dagger -p`) by its absolute path, I get an error instead of successfully loading the plan.

## Details

### What I did

This checks out the dagger source code (which contains a valid plan at the root) and tries to use it.

[code]

### What I expected to see

[code]

### What I saw instead

Note the absence of available actions. This is because the cue loader fa

[2022-04-25 17:32] aluzzardi opened #2299 "`--help` suppressed plan loading errors"
[code]

vs

[code]

[2022-04-25 17:36] aluzzardi commented on #2163
That's super interesting @morlay, we should definitely look into it /cc @helderco

Do you think we could use `cue-get=1` / `cue-import` / `cue-source` instead of `go-*`? I believe that's how CUE is going to implement it https://github.com/cue-lang/cue/issues/851 (`https://acme.com/quote?cue-get=1` from the spec) /cc @jlongtine

[2022-04-25 21:38] sipsma commented on #2058
Just a note that this is likely fixed by #2267. The bug that duplicates is caused by any export and in this case there appears to be an export to a local filesystem happening.

[2022-04-25 22:28] aluzzardi opened #2303 "Nested core actions are silently ignored"
Core actions cannot be nested under other core actions because of CUE flow limitations.

As an example:

[code]

In this case, `actions.foo._xxx` is **nested** under `actions.foo` and is silently ignored. The result will be a confusing non-concrete error `contents: _xxx.contents` (since `_xxx.contents` will never be filled by the runtime).

We should scan for nested tasks and fail with a clean err

[2022-04-25 22:34] aluzzardi commented on #2295
@kjuulh Can you try again against `main`? We just added a few improvements around error messages

[2022-04-25 22:42] jlongtine commented on #2163
That is my understanding of how `cue mod` will work, but I don't think any system will respect it yet, including GitHub. :/

[2022-04-25 22:48] aluzzardi opened #2304 "confusing error when passing a task rather than its output FS"
Example:

[code]

Here I used `actions._image` instead of `actions._image.output`.

This is the error I received: `failed to load plan: actions.test.input.$dagger: field not allowed: fs:`

This is very confusing.

Related to #1426

/cc @dolanor

[2022-04-25 23:07] aluzzardi commented on #2279
Thanks for the bug report, @nicolaiunrein!

Figured out the issue, it's a small issue in the config (it's `dagger.#Secret`, not `core.#Secret`):

[code]

However, the strange thing is that it's causing CUE to panic somehow. Need to figure out the root cause. I think this is related to #1572 -- when pointing to non existing fields (e.g. `core.#DoesNotExist`), CUE acts in a strange way.

/cc @jlongt

[2022-04-25 23:07] dolanor commented on #2303
Is it something that can be improved upstream as well? Or is it a design decision from cueflow?

[2022-04-25 23:13] aluzzardi commented on #2303
@jlongtine has more context on this one. I think there are side effects on having nested tasks and therefore CUE is deciding to ignore them altogether.

[2022-04-25 23:14] aluzzardi commented on #613
@helderco catalogues a few of those here https://github.com/dagger/dagger/issues/493#issuecomment-1086120601

I don't know if we should merge everything over this issue or not

[2022-04-25 23:30] #2059 closed

[2022-04-26 00:35] shykes commented on #1466
No solution yet, but we have prioritized it. Sorry.

[2022-04-26 00:54] morlay commented on #2163
@aluzzardi

i think we could support both `go-get` and `cue-get`.

just need put those meta in html.
query parameters could be ignored.

Now we could use the channel from go,
private vcs like gitlab already support `go-get`.

this will be easy to start.

[2022-04-26 02:09] sipsma commented on #2224
https://github.com/dagger/dagger/pull/2306 Addresses most of this issue with some exceptions noted in the PR

[2022-04-26 09:06] nicolaiunrein commented on #2279
Ooops! Thanks for the reply! I will give it a try later!

[2022-04-26 09:06] #2279 closed

[2022-04-26 10:01] helderco commented on #2163
Thanks @morlay, I just need to finish something else before properly evaluating this.

[2022-04-26 11:23] helderco commented on #1867
There's a problem with doing `v.Fill()` with `#DecodeSecret` because it's recursion in `output`.

[2022-04-26 11:57] helderco commented on #613
That issue tracks side effects of an upstream issue: incomplete errors. It may be possible to solve some or all of that on our side (thanks to https://github.com/dagger/dagger/pull/2266, for example), especially since we don't know if there'll be a fix upstream (_NeedsInvestigation_ in https://github.com/cue-lang/cue/issues/629).

For that reason, I think it's a good idea to merge here anything we

[2022-04-26 12:20] TomChv commented on #1728
Has the same error with dagger europa, it comes from `maxLines` that is negative sometime (IDK why)

[code]

As you see here

[code]

This simple if statement in the file [tty.go]() fix the issue

[code]

[2022-04-26 15:53] morlay commented on #1371
Failed with using `dind` to create multi-arch image.

https://github.com/octohelm/cuemod/blob/dagger/cuepkg/tool/docker.cue
https://github.com/octohelm/cuemod/runs/6173820154?check_suite_focus=true

Really hope dagger could support this.

[2022-04-26 16:21] marcosnils opened #2311 "✨ Add convenient "last" field to docker.#Build action"
### What are you trying to do?

Speaking with @helderco he came up with the idea of having a convenience way to reference the last action output from a `docker.#Build` steps since it's not uncommon to see `docker.#Build` actions are followed up by a `#Subidr` or `#Readfile` to validate or export contents out of it.

This also goes in line with some of the comments in #1993 and with other convenien

[2022-04-26 16:46] shykes commented on #2311
Wouldn't it be much simpler to add a `docker.#Subdir` build step?

[code]

[2022-04-26 16:50] TomChv commented on #2311
Subdir would not works for file and what if you have multiple `exports`?

I totally agree with you but since it's a really common usage, it could become a standard?

Maybe add it as an experimental definition : `x/dagger.io/output` for now and see if it's adopted by the community?

[2022-04-26 16:55] marcosnils commented on #2311
This

This violates the purpose of this proposal. The idea here is not creating additional steps / actions since you have anything you need there, we just don't have a way to access it. Creating a custom build step is not very different from adding another action to just get what you need.

[2022-04-26 16:57] shykes commented on #2311
Let's regroup here. What's the use case exactly?

[2022-04-26 18:10] #449 closed

[2022-04-26 18:12] sipsma commented on #2058
Resolving as #2267 has been merged, it has a test case using local exports that previously resulted in duplicated logs and now works as expected

[2022-04-26 18:12] #2058 closed

[2022-04-26 18:31] #1728 closed

[2022-04-26 18:42] marcosnils commented on #2224
:+1: just updated this issue to :eye: for https://github.com/dagger/dagger/pull/2306 so we can finalize it after buildkit's changes.

[2022-04-26 19:11] jpadams opened #2313 "Add `feat:` to https://docs.dagger.io/1227/contributing"
### What is the issue?

`feat:` is not listed currently in commit message prefixes:

[2022-04-26 19:17] jpadams commented on #2313
Mentioned by user here: https://github.com/dagger/dagger/pull/2217#issuecomment-1100740529

[2022-04-26 19:17] jpadams commented on #2313
@TomChv do you have a sense of good wording for this one?

[2022-04-26 19:26] jpadams opened #2315 "Add `dagger project update` to all CI examples"
Should we always suggest `dagger project update` to be run before `dagger do xxxx` in our CI examples like GitHub Actions or Jenkins?

- [x] decide yes/no for now (decision of "no" for now)
~- [ ] if yes for now, what would trigger a change to "no" or to remove this advice~
- [ ] FAQ / doc / blog on how this works now (caveats, trade-offs) and what future will look like (@jlongtine could you sketc

[2022-04-26 19:47] marcosnils commented on #2313
Since we're categorizing everything at this stage why not adding `fix:` and `feat:` and avoid have a bot that checks all commits are properly formed?

That way we don't have to remember about checking for commit formats.

fix: Bugfixes and improvements that don't introduce new features (e.g., `fix: improve error message`)
feat: for new features only (e.g., `feat: add --cache-to feature to export c

[2022-04-26 19:58] jpadams opened #2316 "Update settings in GitHub to make rebase default update"
<img width="1055" alt="image" src="https://user-images.githubusercontent.com/3187222/165381815-3606e488-9df6-4117-a718-fbb7ef80d045.png">

seems aligned with
https://docs.dagger.io/1227/contributing/#3-update-your-pull-request-with-latest-changes

cc @aluzzardi @helderco @gerhard

[2022-04-26 20:10] kjuulh commented on #2295
@aluzzardi

I've tried against main, it is giving a different error now. Which is correlated with the recent changes, `... key is not set`, I am still struggling with what is really going wrong. I will have more time to investigate tomorrow, and will get back to you hopefully then.

[2022-04-26 20:50] RemakingEden opened #2317 "🐞 "client.platform.os is not set" when running dagger do"
### What is the issue?

I have not made any changes to my project for a week and it seems something may have changed in the meanwhile. Where the pipeline was working before it fails with the same error both locally and in Github Actions.

I have seen that there have been some changes to when the plan should abort here https://github.com/dagger/dagger/pull/2302, perhaps my plan should never have be

[2022-04-26 21:04] marcosnils commented on #2317
seems like you're using the latest version published today. Can you check if `dagger project update` resolves that issue?

I recall seeing this the other day, looking how it was fixed.

[2022-04-26 21:20] jlongtine opened #2318 "CUE Upstream Issues and Enhancements"
We've encountered a few issues with upstream CUE, and have some enhancements we'd like to help contribute, as well. This issue is intended to catalog, discuss, and suggest potential solutions for each of these.

## Issues

- https://github.com/dagger/dagger/issues/2182
- https://github.com/cue-lang/cue/issues/1647
- https://github.com/dagger/dagger/issues/1867
  - https://github.com/dagger/dagger/

[2022-04-26 21:35] helderco commented on #2295
Hey, just looking from afar I see `ssh: ssh` which gives you shadowing issues. You need to do `"ssh": ssh` instead.

[2022-04-27 01:45] aluzzardi commented on #1868
/cc @sipsma to get your input here

I **believe** we're doing that because we were getting funky results with the cache, but I can't recall the exact condition.

It was something like, even if the content didn't change, buildkit ended up invalidating the cache for subsequent vertices. Adding an intermediary copy fixed the issue.

[2022-04-27 02:08] sdboyer commented on #613
Just want to note here, since this popped up in my feed - i've begun the process of improving errors in Thema. Tracking it in grafana/thema#44, and took a first whack at it (very hacky sketchy) in #grafana/thema#45.

Thema's use case is plausibly easier than Dagger's because the additional constraints we impose on user input allow us to make assumptions that don't hold in more general CUE error ha

[2022-04-27 06:18] shykes commented on #2311
Ok, that's very helpful, thanks. Honestly this seems to me that `docker.#Build` is the wrong tool for the job, and you would be better off running `yarn install` in a standalone action, where you can then reference it the normal way without having to deal with an array. The only reason `docker.#Build` has an array is to offer a convenient shortcut when you don't need to reference the individual st

[2022-04-27 08:25] RemakingEden commented on #2317
Brilliant, it was as simple as that. Thanks @marcosnils ! I'll close this now

[2022-04-27 08:25] #2317 closed

[2022-04-27 09:37] nicolaiunrein opened #2326 "🐞 panic: not properly initialized state"
### What is the issue?

You get unhelpful error messages for uninitialized state!

### Log output

[code]

### Steps to reproduce

[code]

### Dagger version

dagger 0.2.8

### OS version

Ubuntu 20.04

[2022-04-27 11:20] ivorscott commented on #613
https://github.com/dagger/dagger/issues/2180

[2022-04-27 12:47] marcosnils commented on #2311
Makes sense. If I asked myself the question: is my output a Docker image? initially, I would have used `docker.#Build`. On that context, I guess we don't really need to do anything here.

Regarding the hack solution, it doesn't seem to work since the CUE evaluator complains about `actions.<action>.dag` being an undefined field.

[2022-04-27 12:47] #2311 closed

[2022-04-27 15:09] lll-lll-lll-lll opened #2327 "[docs][Getting Started] failed to load plan: client.env.APP_NAME"
### What is the issue?

I tried dagger locally.
I was following the [CI/CD in your local dev](https://docs.dagger.io/1200/local-dev) and got the following error
　　
[code]

### question
Do I need to prepare my .env file?
if so,  I need to know how to do that.

## reproduce
- $ brew install dagger/tap/dagger
- $ type dagger
  - dagger is /opt/homebrew/bin/dagger
- $ docker --version
  - Docker versi

[2022-04-27 15:15] helderco commented on #2318
I reported https://github.com/dagger/dagger/issues/1867 upstream with:
- https://github.com/cue-lang/cue/issues/1671

[2022-04-27 16:18] sipsma commented on #1868
@aluzzardi Yeah right now the expected behavior of `llb.Local` is that if you mount it with default options to an Exec, that Exec will end up invalidated on subsequent runs. There's a few ways to prevent this that can be more efficient than `Copy` but have some tradeoffs:
1. You can mount the `llb.Local` with `readonly`. Tradeoff being that you can't write to it obviously.
2. You can mount the `ll

[2022-04-27 16:34] lcswillems commented on #2327
Same issue for me on Ubuntu 22.04

[2022-04-27 16:37] lcswillems commented on #2327
I succeeded to make it working by skipping `git checkout v0.2.7`

[2022-04-27 16:39] marcosnils commented on #2327
:wave: there! apologies for the noise. Please do a `dagger project update` using v0.2.8 and that should fix it. We did some stdlib changes that require an update to work. We've already added a PR to improve this UX for the next time we make such changes

#2321

[2022-04-27 17:26] marcosnils opened #2331 "✨ Introduce dagger-cue verify command"
### What are you trying to do?

Since we have some custom `dagger-cue` logic to validate the plan correctness, just doing a simple `cue eval` might not be enough to make sure that our plans are correct. We also don't want users to install the CUE binary in order to validate that they're plans are actually runnable. This helps in the case where you're refactoring things and making changes that don'

[2022-04-27 17:50] shykes commented on #2331
This is very needed, and can we PLEASE add a check for #493 ... For now this is a "wontfix" from upstream CUE and it's easily in my top 3 most painful bugs right now. All it takes is a typo in an imported definition name... and I'll be wasting 30mn of my time, or more, on a wild goose chase trying to understand why my plan isn't working. I bet many developers hit this problem every day without eve

[2022-04-27 17:51] shykes commented on #493
I just want to ping this again. This is a horrible bug and easily in my top 3 of most painful DX issues. If upstream can't or won't fix it, we must find some way to limit the damage downstream.

[2022-04-27 18:28] sipsma commented on #1868
Yep I looked quickly and came to the same conclusion. Was planning on taking another look later to see if I missed something but based on this I'll take your word for it :-)

I'm sure it would be possible to find a way to allow one cue task to inspect details about its inputs in order to selectively optimize, but I don't know if that complication would be worth it at the moment. Copies aren't as e

[2022-04-27 18:33] marcosnils commented on #2327
:wave: again. I gave an incorrect fix prematurely. The correct way to proceed here is to checkout v0.2.8 since it's the same dagger CLI version you're using. We've already updated our docs and we'll be fixing this so it doesn't happen again. :pray:

I'll leave this open until we implement the permanent fix.

[2022-04-27 18:33] aluzzardi commented on #1868
Totally agree!

I actually commented on this month old issue because I was able to get some fresh data out of OpenTelemetry:

<img width="982" alt="Screen Shot 2022-04-27 at 11 30 38 AM" src="https://user-images.githubusercontent.com/179503/165595283-498ba67d-7a4d-445f-9e2f-fee35541560f.png">

Turns out, `llb.Copy` takes slightly **more** time than `llb.Local` for the overall `client.filesystem.re

[2022-04-27 18:39] aluzzardi commented on #1572
I believe this should have been fixed by #2266

By that you mean not setting the `input` field?

If so, that's a test case of #2266 which is actually fixed https://github.com/dagger/dagger/pull/2266#issuecomment-1106817508

[code]

Will result in:

[code]

[2022-04-27 19:42] aluzzardi commented on #2331
I think this would be super helpful.

In terms of command/functionality, I think the following are needed (or at least, were requested at some point or another):

- `verify` the plan is correct
- `eval` the plan (e.g. `cue eval` without `cue`)
- `plan` the plan: show the list of actions and their dependencies. I don't think we're tracking this but to me it would be super useful to debug
- `lint` t

[2022-04-27 19:48] aluzzardi opened #2335 "`dagger plan` command"
I think a command to introspect the plan would be very useful (e.g. similar to `terraform plan`).

This would:
- Load and validate the plan
- Print the DAG and its dependencies

This would help:

- Navigating the plan: `dagger do --help` kinda does that, but it's one dimensional
- Figure out action dependencies
- Potentially output different formats (e.g. `dot` file use with graphviz)

cc @dagger/

[2022-04-27 20:14] helderco commented on #493
Sure 🙂

[2022-04-27 20:35] shykes opened #2337 "🐞 "snapshot does not exist: not found""
(work in progress)

[code]

[2022-04-27 20:40] helderco commented on #1351
@shykes Oh yes, I ended up resolving with the attributes at the same time as @aluzzardi, already rebased to his merged syntax 🙂

The only blocker is the solution in https://github.com/dagger/dagger/pull/2024 if you're ok to merge.

I also just noticed that `docker.#Push` isn't detecting the `result` output while updating the documentation. I'm looking into it. Other than that it's ok to review.

[2022-04-27 21:12] jpadams opened #2339 "Make more clear that `universe.dagger.io/x` is experimental"
### What is the issue?

Not everyone will know that `universe.dagger.io/x` (in golang `x` way) means experimental pre-universe packages that are contributed by the community and not yet fully supported by Dagger as a universe package.

[2022-04-27 21:13] jpadams commented on #2339
best to have a status of integration: perhaps CNCF model: incubating, ...., graduated

[2022-04-27 21:14] jpadams opened #2340 "Show package management hack"
### What is the issue?

![Screen Shot 2022-04-27 at 2 07 54 PM](https://user-images.githubusercontent.com/3187222/165632278-4d8c0758-44b3-49ab-8839-946f2a84ee4c.png)

[2022-04-27 21:15] helderco commented on #2337
When this has happened to me it was because of corrupted cache.

[2022-04-27 21:20] jpadams opened #2341 "Tutorial. How to turn a "makefile" into flat dagger plan and then refactor for reuse"
### What is the issue?

Tutorial. How to turn a "makefile" into flat dagger plan and then refactor for reuse.

Show progression of simple translation, then go to progressively better structures for reuse/testability/etc.

Talk about tradeoffs involved in more abstraction. How to avoid pitfalls. Talk about user personas and how to create actions and plans that serve their needs: ops, devops, devs,

[2022-04-27 22:12] jpadams opened #2342 "Better explain how to use `core.#Source`"
### What is the issue?

confusion today around `core.#Source` and `client: filesystem` for some users.

Can augment existing content and perhaps create blog.

https://docs.dagger.io/1222/core-actions-reference/#core-actions-related-to-filesystem-trees

https://github.com/dagger/dagger/blob/main/pkg/dagger.io/dagger/core/fs.cue#L7-L18

https://docs.dagger.io/1226/coding-style/#dont-inline-scripts

[2022-04-27 22:14] #1867 closed

[2022-04-27 23:58] aluzzardi commented on #2163
Hey @morlay, haven't had a chance to evaluate this yet, but had a few questions in the meantime:

- Are the actual modules stored in `cue.mod/pkg` or are they somewhere else (if so, are you then using an overlay)?

- Is `module.sum` used to enforce the correctness of packages (e.g. making sure they have not been modified), or are we just storing the checksum for now? (in our old `mod` code, we wer

[2022-04-28 00:55] lll-lll-lll-lll commented on #2327
Thanks for your reply
I changed the version with "git checkout v0.2.8" and ran the following command again and got an error.
$ git checkout v0.2.8
$ cd pkg/universe.dagger.io/examples/todoapp
$ dagger do build
[code]

## type dagger
dagger is /opt/homebrew/bin/dagger

[2022-04-28 01:38] morlay commented on #2163
Hi @aluzzardi

Code store under `GOMODCACHE`, here a real world project with `dagger` and `k8s`.

* `gen` contains the genereted cue files from other languages.
* `pkg` just create symlinks from `GOMODCACHE`, the behavior learned from [pnpm](https://github.com/pnpm/pnpm).

The both  be git-ignored.
[code]

Yes. `module.sum` is same as `go.sum`, it should be
But sames i miss to check it with stored

[2022-04-28 01:59] aluzzardi commented on #2326
Thank you for the report, @nicolaiunrein.

Turns out this is caused by using `dagger.#Mount` -- without it it doesn't panic anymore:

[code]

@helderco @jlongtine This is weird -- using `dagger.#Mount &` in a `mount` makes CUE panic

[2022-04-28 02:25] marcosnils commented on #2327
@helderco can u help me troubleshoot here? I think we accidentally broke the `todoapp` example? Seems like cache is not working as expected and `node_modules`  is not being mounted in the corresponding action steps.

[2022-04-28 02:55] marcosnils commented on #2327
Interesting.. I can't seem to reproduce. Can you please run the following command and see if that fixes it?

`docker rm -fv dagger-buildkitd && docker volume rm dagger-buildkitd` (this wipes out the buildkit cache)
`dagger do build` (inside the todoapp folder in the v0.2.8 tag)

if this fails again, can you please post your `dagger version`?

[2022-04-28 03:02] marcosnils commented on #2326
wasn't `dagger.#Mount` moved to `core.#Mount`?

if you change this, you get a proper error about `dest` not being set

[2022-04-28 03:12] aluzzardi commented on #2326
Ah! Indeed.

This is very strange, I get the same error even with #2334

Inspecting `value.Err()`, I see a `actions.test._dag."1"._exec.mounts.abc: incomplete cause disjunction` rather than an `undefined field`. /cc @helderco @jlongtine

[2022-04-28 07:37] aluzzardi commented on #2163
Thank you for all the info!

- Understood for private gitlab and the need for go-get

- A downside is it might clash with Go vanity URLs, but maybe that's okay (with dagger.io for instance, Go needs dagger/dagger whereas for CUE it's dagger/dagger/pkg/dagger.io)

- Curious as to why we need to use GOMODCACHE instead of another directory (for example $HOME/.cache/cue)? Won't it clash with go?

- Us

[2022-04-28 07:59] myitcv commented on #493
I've commented over in https://github.com/cue-lang/cue/issues/629#issuecomment-1111822832. Please can you help to establish whether the issues Dagger are seeing are covered by the cases in the original description of https://github.com/cue-lang/cue/issues/629 or not? That will then help to confirm whether the proposal in https://github.com/cue-lang/cue/issues/629#issuecomment-1111867269 is suffici

[2022-04-28 08:50] morlay commented on #2163
it just tell go to where to download the whole repo code. and the meta will location currect sub path (notice the `go-source`)

[code]

Just because I use go mod's code directly for quick implements, once cue team support cue mod, it will be `CUEMODCACHE`.

Nope, it works well.

To avoid symlink creating conflicts. Example:

[code]

And I don't want to check each folder symlink creatable. so just

[2022-04-28 09:52] berryp opened #2347 "✨ Add Github Gitpod configuration"
### What are you trying to do?

I'm testing out using Gitpod to write contributions for the Dagger repo, but the default Gitpod environment is general purpose and so isn't tailored for this specific repo. It would be useful to have a fixed Gitpod configuration for this repo for repeatable dev environments on any branch.

### Why is this important to you?

I can easily work on this repo without hav

[2022-04-28 09:54] helderco commented on #2347
I'm also interested! Are you able to contribute this, as with https://github.com/dagger/dagger/pull/2217? 🙂

[2022-04-28 10:02] berryp commented on #2347
Doing so as we speak 👯

[2022-04-28 10:35] helderco commented on #2200
Do you have any further questions @RonanQuigley?

This should be closed with a _resolution/wontfix_, just asking for one last feedback from @shykes.

To sum up, what OP is requesting is that you be able to set a mount from a file **path**, whithout having to go through `client`:

[code]
It's different than https://github.com/dagger/dagger/pull/2290, but it may have been inspired by a misunderstand

[2022-04-28 12:07] RonanQuigley commented on #2200
Not quite. I think there's a bit of talking past each other going on here.

Supporting interpolation via the fileystem is another way to achieve the same result, but it would be nice to do this sort of thing:

[I've not been able to look at dagger this past week, so let me know if this is no longer correct]

`FOO=/path/to/file.<ext> dagger do build`

[code]

[2022-04-28 12:11] Joslinlisa commented on #2347
Hi

[2022-04-28 12:41] lll-lll-lll-lll commented on #2327
💪thak you for advice !
I have tried the commands you presented.
I got the following error
Could this error be related to m1?

<img width="1440" alt="スクリーンショット 2022-04-28 21 37 30" src="https://user-images.githubusercontent.com/63499912/165753482-7752740d-1492-49f6-bf39-f563a3417f9f.png">

[2022-04-28 13:08] marcosnils commented on #2327
@lll-lll-lll-lll can you please add `--log-format plain` and `--log-level debug` to your command and share again please?

[2022-04-28 13:20] lll-lll-lll-lll commented on #2327
@marcosnils command is $dagger do --log-format plain ?

[2022-04-28 13:27] marcosnils opened #2351 ":sparkles: Automatically update dagger versions in docs after a new release"
### What are you trying to do?

We currently have a script that updates our `dagger version` in our docs instructions but it's not part of our release process. We should ideally try to make our docs depend on hardcoded versions as least as possible and, if not possible, make the release process update docs automatically.

### Why is this important to you?

Currently we're having weekly releases an

[2022-04-28 13:48] marcosnils commented on #2327
`dagger do build --log-format plain --log-level debug` should be the command

[2022-04-28 14:04] lll-lll-lll-lll commented on #2327
How far should I share the logs with you?
ALL?

[2022-04-28 14:16] helderco commented on #2327
You can put it in a gist if you want. We're particularly interested in the output for the `deps` action.

[2022-04-28 14:28] lll-lll-lll-lll commented on #2327
Perhaps this is the part that needs to be shared

[code]

[2022-04-28 14:29] helderco commented on #2327
Ok, network issues.

[2022-04-28 14:40] lll-lll-lll-lll commented on #2327
Okay, what exactly should we start working on to solve this problem?

[2022-04-28 14:49] helderco commented on #2200
My example in https://github.com/dagger/dagger/issues/2200#issuecomment-1112048062 just makes it clearer what we're talking about, it doesn't matter where that "./foobar.txt" comes from.

No, that issue is about mounting a file from it's **content**, not a path to your host machine.

[2022-04-28 15:22] marcosnils commented on #2327
Just to check if this helps can you manually edit https://github.com/dagger/dagger/blob/main/pkg/universe.dagger.io/examples/todoapp/todoapp.cue#L68 this line and make it `yarn install --network-timeout 120000` instead and see if you can get it through?

[2022-04-28 15:36] lll-lll-lll-lll commented on #2327
thank you!
I manually edit ✋
It succeeded!
<img width="1080" alt="スクリーンショット 2022-04-29 0 35 41" src="https://user-images.githubusercontent.com/63499912/165790093-b94a0c03-20bd-403d-a334-fe0c9db46574.png">

[2022-04-28 15:39] #2327 closed

[2022-04-28 15:45] lll-lll-lll-lll commented on #2327
thnaks It really helped me.
I'm going to use dagger in my application and contribute to it!

[2022-04-28 16:01] marcosnils commented on #2327
:raised_hands: happy to have you onboard and I'm sorry that you had a bumpy start. We're constantly improving Dagger, so any other feedback of contributions are welcome!

[2022-04-28 16:27] TomChv commented on #2313
@marcosnils Did a great proposition:

`fix`: for improvements and bugfixes that do not introduce a feature (e.g., `fix: improve error message`)
`feat`: for new features (e.g., `feat: implement --cache-to feature to export cache`)

Totally agree with you! Having a bot would be really good!

Here's a GitHub Actions that can do the job : https://github.com/webiny/action-conventional-commits

WDYT @ma

[2022-04-28 16:30] marcosnils commented on #2313
Shit it :ship:

[2022-04-28 16:43] gerhard commented on #2132
FWIW https://twitter.com/solidnerd/status/1519214764756455425

[2022-04-28 16:46] marcosnils commented on #2132
It's a nice intermediate solution until we can get a fully fledged LSP solution :rocket:

[2022-04-28 16:58] marcosnils commented on #1716
Yep!

[2022-04-28 16:58] #1716 closed

[2022-04-28 18:59] sipsma commented on #324
Just as another example of this, @jpadams hit a remote cache import error (`failed to compute cache key: failed to copy: invalid status response 503 Egress is over the account limit`) due to a 503 from GHA that failed the entire run. In general Buildkit tries to treat these errors as cache misses, but due to the way this failed Buildkit didn't. Have an issue open there now, though it's actually a

[2022-04-28 21:05] shykes opened #2362 "🐞can't run an action because of missing input in another action"
## Problem

* Good: `dagger do` now checks for missing values before running an action, which saves me time by catching errors early.
* Bad: `dagger do` checks for missing values *in all actions*, even those I am not currently trying to run. This wastes my time, by forcing me to complete values that I don't care about.

Additional notes:

* Actions can leave incomplete values intentionally. Thanks

[2022-04-28 21:22] shykes opened #2363 "🐞incorrect validation error when using client env variable as default"
## Problem

When an action uses a client's environment variable as its *default*, then `dagger do` will incorrectly fail at the validation stage ("xyz not set").

NOTE:

* If the action references the client's env variable directly (not as a default value), then the problem does not occur
* If the action uses a default value other than the client env variable (ie. a string literal, or reference to

[2022-04-28 23:21] aluzzardi commented on #2363
Ok this is pretty bad.

According to CUE:
- `actions.deploy.site` doesn't have a default value (`Value.Default()` returns `false`)
- `string | *client.env.USER` is not an expression (`Value.Expr()` returns `cue.NoOp`)

@jlongtine Help appreciated if you can spare the time :)

[2022-04-28 23:27] sipsma opened #2365 "🐞 GHA Throttling causes CI to fail"
### What is the issue?

We appear to be hitting some sort of limit/throttling with GHA as many PRs are getting timeouts while trying to export cache, especially when they are running in parallel with one another. This needs to be fully confirmed as the only error message we get [is `maximum timeout reached` from this line](https://github.com/sipsma/buildkit/blob/2683fbb986737fa744e7a9b00773347dd3d

[2022-04-28 23:37] sipsma commented on #2140
https://github.com/dagger/dagger/issues/2365 is related. Besides the immediate problems there, it also raises an interesting question in general: if the backing cache is sometimes fast, sometimes slow (due to throttling or anything else), how does a user determine if caching is actually beneficial?

Would it make sense to have the ability to simultaneously execute a vertex and import cache for it,

[2022-04-28 23:41] sipsma commented on #2140
Yes for sure. There is [an open PR](https://github.com/moby/buildkit/pull/2760) to add support for multiple non-cache exports. I think once that's merged it would make sense to add the same ability but for cache exports.

Agreed, I'm thinking long-term here, not proposing we do everything right away :-)

[2022-04-28 23:49] sipsma commented on #2365
[Related issue in Buildkit](https://github.com/moby/buildkit/issues/2804), some confirmation from Github team that throttles are possible at relatively small scales. Doesn't guarantee that's exactly what's happening to us too, but adds to the evidence.

[2022-04-29 03:02] aluzzardi commented on #2351
I would go one step further and stop hardcoding versions altogether, I don't think they're doing any good.

The only useful one is **maybe** `git checkout v0.2.8` to get the right examples -- perhaps we could replace that with `git checkout $(dagger version --short)` or something

[2022-04-29 12:03] helderco commented on #2351
Love that!

[2022-04-29 15:47] marcosnils commented on #2351
Speaking about this with @gerhard and @slumbering we just found a better way to do it. We'll have an update by today.

[2022-04-29 16:29] helderco commented on #1572
Correct, what's described here is covered by the tests in #2266.

[2022-04-29 16:29] #1572 closed

[2022-04-29 17:27] helderco commented on #1857
Duplicate of https://github.com/dagger/dagger/issues/1885

Even though this issue came first, the other one captures the core of the issue. This cycle is because of a dependency to an empty/ignored action. When that issue's resolved, this one will be as well.

[2022-04-29 17:27] #1857 closed

[2022-04-29 17:55] TomChv opened #2375 "✨ Split dagger universe test from experimental universe"
### What are you trying to do?

From Discord about experimental Universe test

The purpose is to split dagger universe test and experimental universe test into two jobs.

So tests will run as advisory but will not block merges.

### Why is this important to you?

Universe CI starts to be long, specially since we tests experimental universe.

To simplify merge and increase CI speed, it's important

[2022-04-29 19:18] mrgleeco opened #2377 "Secrets from cloud secret manager"
### What are you trying to do?

Ideally dagger can support secrets found in a secret manager, eg. [GCP secret manager](https://cloud.google.com/secret-manager/docs) or [AWS](https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html)

Perhaps this exists(?) and i am just seeking docs...

[2022-04-29 21:44] helderco commented on #493
There's only one remaining issue from my list above: #1885. I confirm that's covered in #2334.

[2022-04-29 22:26] jpadams opened #2379 "chore: Add sops key file to universe tests"

[2022-04-29 22:42] jlongtine commented on #2335
I like this idea. A bit concerned about dynamic fields (once we figure out how to do that nicely with `cue/flow`), because I don't see how we could do this well in that case.

[2022-04-29 22:47] jpadams commented on #2273
fixed by PR #2361

[2022-04-29 22:47] #2273 closed

[2022-04-30 00:07] aluzzardi commented on #2362
Added some context here: https://github.com/dagger/dagger/pull/2372#issuecomment-1113867006

In summary, this is **very** hard to do.

The whole validation system was a major headache to pull off. It runs off many assumptions. One of those is it must walk the entire tree, top-down.

The "chunks of CUE" that are going to be pulled in to execute a single action are an unknown quantity.

I'm not just

[2022-04-30 00:08] aluzzardi commented on #2363
Fixed in #2366

[2022-04-30 00:08] #2363 closed

[2022-04-30 17:55] aluzzardi opened #2381 "Idea: "dagger <action>" syntactic sugar"
Inspired by `yarn` and `npm`.

What if, in addition to `dagger do <action>`, we could also type `dagger <action>` for actions that don't clash with built-in command names?

[code]

The inspiration comes from yarn/npm which do the same:

[code]

This would take one step further the "action inputs as flags" initiative: the entire command becomes user configurable.

The downside is clash with built-i

[2022-05-02 00:41] marcosnils opened #2383 "docs: Provide more information about what dagger.#Secret actually does"
### What is the issue?

The dagger 0.2 docs have a section about handling secrets here: https://docs.dagger.io/1204/secrets. However, this page doesn't mention anything what using `dagger.#Secret` actually enables and what properties this entails.

Is my data encrypted?
How are secrets secure?
How can I guarantee that only specific actions can access secrets?

I think it'd be a good idea to provid

[2022-05-02 00:49] shykes commented on #2383
Agreed. There is content in the Europa release post that could be used as a starting point: https://dagger.io/blog/dagger-0-2 . See “ Secure by default: the Secrets API”.

[2022-05-02 01:08] marcosnils commented on #2383
This.

It's a bit misleading that  the end of the article has a link to "learn more about secrets" and it redirects to our current docs (https://docs.dagger.io/1204/secrets/) which bring us back to the reason of this issue. :pray:

[2022-05-02 12:53] dolanor commented on #2146
What can we do in this case?
Add more context, like `docker.#Push.registry field does not exist`?

[2022-05-02 13:58] disaster37 opened #2384 "🐞 Strange output when use `-log-format plain`"
### What is the issue?

When I run action with `log-format plain`, we get strange output (maybee bad encoding somewhere):

[code]

### Log output

_No response_

### Steps to reproduce

This this my dagger plan:

ci.cue
[code]

### Dagger version

dagger 0.2.8 (92c8c7a2) linux/amd64

### OS version

Red Hat Enterprise Linux release 8.4 (UBI image)

[2022-05-02 16:41] sipsma commented on #2384
This was fixed by this PR: https://github.com/dagger/dagger/pull/2319

The next release (expected tomorrow, May 3rd) should have the fix. I will close this issue for now but please feel free to re-open if the problem persists.

[2022-05-02 16:41] #2384 closed

[2022-05-02 17:40] shykes opened #2386 "🐞multi-file plan triggers incorrect input validation errors"
## Problem

When a plan is split across multiple files, it fails incorrectly with input validation errors ("xxx not set"). The same plan, when combined into a single file, works fine.

## Details

### Dagger version

[code]

### What I did

1. Setup a new project to reproduce

[code]

2. Add repro config

[code]

[code]

3. Install deps

[code]

4. Run deploy action

[code]

### What I expected to

[2022-05-02 18:18] #1351 closed

[2022-05-02 18:27] helderco commented on #1351
After 4 months, this is finally closed! 😄 🎉

[2022-05-02 18:59] shykes commented on #1351
Yay!

[2022-05-02 19:39] #2299 closed

[2022-05-02 21:11] jlongtine commented on #2381
I like this idea, but given the difficulty reversing this decision, it seems reasonable to tap the brake and revisit in a bit.

[2022-05-02 21:28] aluzzardi commented on #2386
Root cause is #2263 -- multiple `#Plan` in the same project breaks CUE /cc @helderco

Removing `dagger.#Plan &` from `bar.cue` fixes the issue

[2022-05-02 21:29] aluzzardi commented on #2263
@helderco Do we know what the root cause is? In theory there shouldn't be an issue unifying `#Plan` multiple times

[2022-05-02 21:33] jlongtine commented on #2303
@dolanor and I had a good (if brief) chat about this. I think our best bet (for now, until we spend the time to improve `cue/flow` tasks more) is to catch this error whenever we can (should work for most cases, except for dynamic tasks), and print something nice for the user so they know we won't be running that task for them.

[2022-05-02 22:21] helderco commented on #1620
/cc @sipsma

[2022-05-02 22:32] jlongtine opened #2389 "✨ Allow `#Exec` containers to connect via a named service to `#Start` containers"
### What are you trying to do?

I want to enable use cases such as test runs to connect to a test database without requiring the user to know the IP of the running test database. They should be able to connect to it as a named service, such as `test-db`.

### Why is this important to you?

It will ease the use of sidecar or other similar use cases.

### How are you currently working around this?

[2022-05-02 22:47] helderco commented on #2196
The lock solution is viable.

In #2385 I found a limitation in implementing dynamic paths when reading directories, i.e., `client: filesystem: ...: read: contents: dagger.#FS`: We need to know the paths before running the plan to setup the BuildKit client.

As of this moment there's no clear path forward.

[2022-05-02 22:51] jlongtine commented on #1466
This is due to https://github.com/cue-lang/cue/issues/754

[2022-05-02 22:52] sipsma commented on #1620
I am curious what the specific use cases for this are if they can be shared. In general, stdio processing is something users might default to because it's a very generic mechanism, but I do want to make sure there aren't better ways to solve their problems.

---

Either way, support for async execs (`core.#Start` and `core.#Stop`) has just been added, and while I didn't include stdin/out/err suppo

[2022-05-02 23:00] helderco opened #2390 "We need a system for adding documentation to feature PRs"
After #1510 I started including docs in feature PRs:

- https://github.com/dagger/dagger/issues/1510#issuecomment-1026133473

The problem is that you'll have new feature documentation published after merge, but the feature itself won't be available until the next release, unless you build from main locally.

We can just not include the new page in the sidebar, but sometimes we want to update an ex

[2022-05-02 23:22] sipsma commented on #2389
Just a note, for services that can be connected to over unix sockets, there is a hacky-but-functional workaround to use a shared cache mount. Any unix socket created there by the service will be usable by clients w/ the same cache mount.

For use cases where this communication has to happen over the network, there is already support for overriding /etc/hosts in a container (`ExtraHosts`). This giv

[2022-05-03 00:05] helderco commented on #2200
Thank you for your suggestion, but as I've explained, we decided against letting actions access the host machine directly. Any interaction with the host machine must come through the plan's `client` field.

About your dynamic path difficulties, it's being tracked here:
- https://github.com/dagger/dagger/issues/2196

If you're interested in mounting a file's **contents** directly (rather than via p

[2022-05-03 00:05] #2200 closed

[2022-05-03 00:26] helderco commented on #1823
As a follow up on my last comment, the real issue is that `client: filesystem` paths are a part of the client action's CUE path and so it must be known during load since we don't support dynamic actions.

There's more details and proposal at:
- #2196

[2022-05-03 00:31] #1823 closed

[2022-05-03 01:00] jpadams commented on #2272
@DazWilkin I agree that would be a valuable pattern to highlight. Wrapping bash.
Would love to work with you on that.

[2022-05-03 02:35] sipsma commented on #1258
With the recent addition of `core.#Start` (which uses BuildKit's `NewContainer` API instead of an `ExecOp`) I think there's a path to accomplishing this today without upstream changes to BuildKit. It will be more hacky and less flexible than it should be with upstream support, but could get us started.

The idea would be to use the stdio streams of `NewContainer` to proxy network connections. This

[2022-05-03 03:57] jpadams commented on #2189
closing for now

[2022-05-03 03:57] #2189 closed

[2022-05-03 03:58] jpadams commented on #2313
Ship it! :shipit:

[2022-05-03 09:10] helderco commented on #2263
At the time I ruled it down to scoping issues. But I can give it another look.

[2022-05-03 11:22] helderco commented on #2326
This is an interesting one. If we do this in `docker.#Run`:

[code]

Then we get:
[code]

This is passing through to `core.#Exec` where `core.#Mount` is defined.

[2022-05-03 13:15] helderco commented on #2326
Here's the _incomlete cause disjunction_ we're seeing here:

[code]
[code]

[2022-05-03 15:34] TomChv commented on #2313
Okay!

[2022-05-03 18:41] #2297 closed

[2022-05-03 18:58] helderco commented on #2295
@kjuulh Do you still have this issue?

[2022-05-03 19:09] kjuulh commented on #2295
@helderco Sorry about that, it turned out to be the shadowing issue. So adding a quotes around ssh worked.

[2022-05-03 19:11] helderco commented on #2295
👍

[2022-05-03 19:11] #2295 closed

[2022-05-03 20:38] marcosnils commented on #1258
I had a brief conversation with @aluzzardi about this and we should also start thinking about the `networking` aspect. Nowadays, all the `buildkit` containers run under the `host` namespace. This means that if two or more `core.Start` tasks try to bind to the same port, that will fail.

Speaking with Andrea and Erik we should start mapping what's required to avoid this `host network` thing. After

[2022-05-03 20:52] sipsma commented on #1258
For users that don't need the service in `core.#Start` to have outbound internet access (i.e. a web server that only needs its local files), we can allows them to just start up the container with `NetMode_NONE`, which tells Buildkit to create a new network namespace for it but don't put anything in it. Then the application can just listen on its (private) localhost and we can take care of the port

[2022-05-03 21:53] aluzzardi commented on #2180
@jlongtine @helderco Is this something we could report upstream?

I just tried this: `source: source`

- `v.ReferencePath()` says it's not a reference
- `v.Err()` says there is no error

Doesn't seem there's a way for us to detect this on our end.

[2022-05-03 23:44] DazWilkin commented on #2272
Does anything exist?

The documentation is ambiguous but suggests that it does.

[2022-05-04 14:48] helderco commented on #1885
Fixed by #2334

[2022-05-04 14:48] #1885 closed

[2022-05-04 17:03] sipsma commented on #1258
Not sure if this is the best issue for this, but will capture it here for now. @marcosnils @aluzzardi and I talked about some options for what we can do to address this and the related issue [here](https://github.com/dagger/dagger/issues/2389):

- Current networking setup: All containers created by buildkitd run in same netns as buildkitd. In our default buildkitd running inside docker, that will

[2022-05-04 18:54] marcosnils commented on #2389
Given the current state of `core.#Start` since all containers shares the same network, users can momentarily use `localhost`. Eventually, we'll have to move to `sandbox` network mode (issue to be created) where this issue along with #1258 will become relevant. We shouldn't let this stall that much since once `core.#Start` is released in the wild, users will complain about not having this for sure.

[2022-05-04 19:22] sipsma commented on #2389
Notes in this comment are also relevant: https://github.com/dagger/dagger/issues/1258#issuecomment-1117592178

(maybe we need an epic for tracking the overall networking issues that involve multiple issues?)

[2022-05-04 19:25] marcosnils opened #2397 "Document `core.#Start`"
### What is the issue?

@sipsma recently merged (https://github.com/dagger/dagger/pull/2214) an initial implementation to allow Dagger to run async tasks which opens the door to do some very neat things like running DB's or any other type of dependency to fulfill e2e pipelines in Dagger. This feature has some caveats mentioned in #1258 and #2389 that we should provide initial basic documentation f

[2022-05-04 21:27] jlongtine commented on #1466
It may also have some connection to https://github.com/cue-lang/cue/issues/1608

[2022-05-04 21:42] sipsma commented on #2397
I guess the choice here is between addressing some of the known issues and ***then*** creating user docs or just creating user docs right away.

Overall, I am okay with any approach but like the following the most:
1. Track known limitations/workarounds in Github issues
2. Use `core.#Start` with pilots (where a Dagger engineer is working directly with a user) and "dog-food" use cases, addressing i

[2022-05-04 21:55] sipsma opened #2398 "`core.#Start` follow-ups and enhancements"
# Task List
Things we need to make `core.#Start` tasks basically useful:

Basic quick fixes:
- [x] [Ability to stop gracefully](https://github.com/dagger/dagger/pull/2460)
- [ ] [Stdout/stderr of the process are logged in the same way as normal `core.#Exec` ](https://github.com/dagger/dagger/issues/2469)

Networking:
- [ ] [Clean way of connecting from a client in an `#Exec` to a service in `#Star

[2022-05-04 22:25] sipsma commented on #1249
Resolved in #2214, more follow-ups tracked here: https://github.com/dagger/dagger/issues/2398

[2022-05-04 22:25] #1249 closed

[2022-05-04 22:45] teddylear commented on #2001
Actually this is a lot more than I originally thought. If someone else wants to take a look into this, please feel free.

[2022-05-04 23:06] jpadams commented on #2315
https://discord.com/channels/707636530424053791/796905486145683506/950536303747932221

[2022-05-05 00:24] marcosnils commented on #2397
SGTM! @jpadams @mircubed we need your help to follow this flow as much as possible :pray: cc @shykes WDYT?

[2022-05-05 09:01] jpadams commented on #989
Mentioned by a user today:

note: example of catching a failed action and firing an action to post to discord

[2022-05-05 09:41] akselleirv opened #2401 "core.#Copy exclude functionality not working"
### What is the issue?

I'm trying to delete a sub-directory by using `core.#Copy`, but it fails when marking the sub-directory as excluded.

### Log output

[code]

### Steps to reproduce

Filesystem used for example:
[code]

[code]

### Dagger version

dagger 0.2.9 (4fc38dac) darwin/arm64

### OS version

macOS 12.3.1

[2022-05-05 11:14] dolanor commented on #2401
I reproduced it on linux/amd64.
It seems core.#Copy is trying to chown the excluded dirs. Is it because it has some knowledge of the lower level FS, before the files gets excluded?
@sipsma Do you know if it is more related to buildkit than to dagger?

[2022-05-05 11:18] helderco commented on #2401
You can try a glob pattern:
[code]
But this won't exclude the directory, only it's contents. There's a workaround if you need, where you can run a command in your host to rm that dir.

[2022-05-05 11:22] helderco commented on #2401
We're passing through to buildkit, we may need to enable an option.

[2022-05-05 11:35] helderco commented on #2401
It's supported here: https://github.com/moby/buildkit/blob/a7fa387fe3524303c70eeddb22e50dd351f319f7/client/client_test.go#L1400

[2022-05-05 19:03] jlongtine commented on #2401
I changed: https://github.com/dagger/dagger/blob/8cfb840d21d6d6ba3e36d5cbe2c03354eb0a0945/plan/task/copy.go#L63-L69

to
[code]

And this case works. @aluzzardi + @sipsma, do you know what the intent of `CopyDirContentsOnly: true` vs `CopyDirContentsOnly: false` is?

[2022-05-05 20:19] sipsma commented on #2365
Figured out one major cause here that is also slowing our CI down an enormous amount.

Even though we export to GHA using per-test scopes, there are often multiple invocations of `dagger do` within a single test, each of which will use the same export target and thus overwrite each other's cache manifests.

This meant that we would pay the price to export cache (quite expensive for large blobs), e

[2022-05-05 20:43] helderco commented on #2401
I tried that but didn't work. Maybe I didn't hook the right build in the repro 🙂

[2022-05-05 22:02] sipsma commented on #2401
I am looking into this, but one quick note before I forget, there's two features we could easily add that would make this use case much more sane:
1. Support for `core.#Rm`
   * `Rm` is a builtin FileOp subtype in Buildkit, so very little effort required
3. Support for getting a mount after an `Exec`. This would have allowed the workaround of mounting the fs at somewhere like `/mnt` and then using

[2022-05-05 22:34] teneko opened #2407 "✨ Make `core.#Exec.hosts` editable in `docker.#Run`"
### What are you trying to do?

I want to set the hosts in a `docker.#Run`, but it is unfortunately not exposed because `_exec` is not mutable from the outside and therefore `core.#Exec.hosts` not editable.

Either delegate hosts from docker.#Run to _exec or make _exec publish and therefore accessible from outside. I personally prefer the second one to comply with CUE and make everything extendibl

[2022-05-05 23:35] sipsma commented on #2401
I think this is just a bug in Buildkit, I can reproduce it with LLB directly.

There's a code path where even though the directory is never created and didn't exist, `overwriteTargetMetadata` is set true, which results in `copyFileInfo` staying its default value of true, which finally results in the code incorrectly trying to update the owner of the non-existent dir:
https://github.com/tonistiigi/

[2022-05-05 23:58] sipsma opened #2408 "✨ Support for removing files (`core.#Rm`)"
### What are you trying to do?

Remove files, similar to how I can make files and dirs with `core` tasks. `Rm` is a supported FileOp type in Buildkit, so not much effort needed in Dagger.

### Why is this important to you?

Users needed it here, had to resort to workaround (that turned out to have a buildkit bug anyways): https://github.com/dagger/dagger/issues/2401

### How are you currently work

[2022-05-06 00:08] sipsma opened #2409 "✨ Support for getting a `Mount` after execution of an `Exec`"
### What are you trying to do?

In Buildkit, you are able to mount a filesystem in an `ExecOp`, make changes to it in the exec and then get the new updated contents after the Exec (at which point it can be used as any other LLB state). E.g.
[code]

The same should be true of Dagger's `core.Exec`. `FS` mounts should be retrievable after the Exec.

### Why is this important to you?

Use cases includ

[2022-05-06 00:09] sipsma commented on #2401
Open a PR with a fix to the 3rd party fsutil repo here: https://github.com/tonistiigi/fsutil/pull/132

Open issues for the features we should have to support use cases like this here:
* https://github.com/dagger/dagger/issues/2408
* https://github.com/dagger/dagger/issues/2409

[2022-05-06 05:10] akselleirv commented on #2401
Adding support for delete would solve my use-case as my use of copy is simply a workaround for the lack for `core.#Rm`

[2022-05-06 11:43] helderco commented on #2186
**TLDR: The use of a module is optional, but required if one wants to import files from it.**

Documentation for this is being worked on:
- https://github.com/dagger/dagger/pull/2271

### Definitions

In summary:
- **CUE Package:** directory with cue files, each including a `package` definition on top, making it importable (e.g, `universe.dagger.io/docker` is a package, `universe.dagger.io/docker/

[2022-05-06 14:51] helderco commented on #2315
## The simplest answer

Commit your `pkg` dir into git, don't do `dagger project update` in CI. This is a **temporary** solution until we have proper package management support.

Since this is the simplest answer, I think this is what we should recommend to users **for now**.

Follow along for more details into the alternative.

## When not to commit?

I really don't like committing external depen

[2022-05-06 17:37] helderco commented on #2340
Hack? :)

[2022-05-06 18:31] mircubed commented on #2315
Thanks for the write up @helderco! @jpadams do you feel like this is enough feedback to make a decision or do we need more opinions?

If not, I will turn this into an Epic issue (to easily track it) and create some subtasks for improvements to commands and docs.

[2022-05-06 20:45] helderco commented on #2315
There’s already an epic that encompasses this:
- #2163

[2022-05-06 22:50] helderco opened #2413 "Make sure project update is handling built-ins and external dependencies"
Looking at the code, it appears that `dagger project update` is only vendoring the built-in packages, not making sure the external packages are installed.

As a first step on #2163, we should at least make sure that there's consistency in the `project update` command in regards to built-ins and external dependencies because we're already documenting its usage like this.

[2022-05-06 22:52] helderco commented on #2282
Duplicate of #2315

I know that came later but it has more content.

[2022-05-06 22:55] #2282 closed

[2022-05-06 23:13] #2169 closed

[2022-05-07 18:12] jpluscplusm commented on #1245
I'm currently working on embedding (shell) tests as directly into Dagger as possible. I hope(!) this will help advance the state of art of short scripts being "simple" enough to embed directly into Plans, but where -- as we know happens all too often -- they accrete complexity and nuance over time ... but because no first-class-citizen test framework is available, they simultaneously accumulate no

[2022-05-08 05:50] jpluscplusm commented on #2339
I reckon it'd be very very worth making their "not yet deemed ready for prime-time" status **really** clear, by breaking `/x/*` into a differently-named hierarchy. e.g. BUT NOT REALLY `lolthesemightbreakyourmachine.dagger.io`.

Folks *are* going to get bitten by their inclusion under the `universe` hierarchy, and no amount of caveats in READMEs is going to mitigate this. People **do not read docum

[2022-05-08 06:08] jpluscplusm commented on #2335
As useful as `dagger plan` would be, I think a lot of the benefit could be won for (I /think/!) somewhat less effort: adding a `--all` or `--recursive` flag to `dagger do --help`, that walks the tree and pretty-prints all the runnable actions+doc-comments that are present in the Plan.

I.e. exactly as `dagger do [action] --help` does right now, but /not/ stopping at the level of the DAG that the u

[2022-05-08 06:52] jpluscplusm opened #2415 "Expose packages' Definition interfaces in a more standardised way"
### What is the issue?

When using a non-core (e.g. universe) package, it takes some digging to discover which Definitions a specific package embeds and uses. It's already clear, in a standardised location, which Definitions a particular package *uses*, as the Is-A syntax puts this front and centre (`foo: #bar & { ... }`).

Given that the IsA-vs-embedded distinction isn't important to the consumer

[2022-05-08 17:00] batleforc commented on #989
The actual interest of my demand was to implement a more complex pipeline.
Here is what I want.
![image](https://user-images.githubusercontent.com/24699592/167306962-45ef3bf5-db5c-459d-a28b-e6f445b70c41.png)

[2022-05-08 21:11] scarolac opened #2417 "Earthly"
### What is the issue?

In the FAQ comparing this to other types of software there is one missing, https://earthly.dev/. This other app seems to do the exact same thing as dagger, but how is it different? How does daggers features compare? Does anyone have experience in both?

[2022-05-09 06:52] renuy commented on #2194
tried with minikube start --embed-certs=true , that also fails.

[2022-05-09 12:13] TomChv commented on #2408
If you don't mind, I would like to take care of that one.

[Here's a link to `llb.Rm`](https://github.com/moby/buildkit/blob/master/client/llb/fileop.go#L82). I think we can also [enable wildcard](https://github.com/moby/buildkit/blob/9b45d4513b8d6f46a7e9cb5b7d7b4fa367065862/client/llb/fileop.go#L376), that could be useful.

Here's the current definition I have in mind:

[code]

WDYT? @sipsma @shy

[2022-05-09 19:52] piraces commented on #2259
Hi! I have not seen this issue but some days ago when I found that dagger was not in Chocolatey, I worked on provide it as I manage other packages for Chocolatey Community.

It is available in this URL: https://community.chocolatey.org/packages/dagger
Simply to install with choco as executing: `choco install dagger`

The repo where I have all the scripting for the Chocolatey packages I mantain is

[2022-05-09 20:10] sipsma commented on #2408
Thanks @TomChv that looks good. The only thing I'd add are fields equivalent to the options available in Builkdkit: https://github.com/moby/buildkit/blob/b6924b0f5f01c8cdea34238e1d35278ea6eb9680/client/llb/fileop.go#L360-L361

The "allowWildcards" field is necessary to handle the extreme corner case where someone creates a file or dir that actually has the char `*` in its name. It's more debatable

[2022-05-09 20:12] shykes commented on #1620
It's pretty common, when developing a new package, to find yourself wanting to expose the output of a command-line tool directly as an output field in your CUE definition. Since there is no API to do that, you have to 1) wrap the command in a shell script which redirects the output to a file 2) export the file 3) reference the contents of the exported file in your CUE field.

At best, it's verbose

[2022-05-09 21:47] TomChv commented on #2408
Thank you! I take care of that tomorrow

[2022-05-10 06:16] jpadams opened #2421 "Guide for mounting docker socket use cases, with AWS `sam` cli example."
### What is the issue?

This are great docs for interacting with a docker socket on the client
- https://docs.dagger.io/1203/client/#using-a-local-socket
- https://docs.dagger.io/1216/docker-cli-load/

but users might not know to look for these when they're getting an error like from `sam build`:

[code]

We should explain a bit more when/why you might use this approach generally.
Not sure if ther

[2022-05-10 13:18] TomChv commented on #2408
I did some test with `AllowNotFound` and it looks like it doesn't works.

That sound logic since [`removeAll`](https://github.com/moby/buildkit/blob/master/solver/llbsolver/file/backend.go#L159) do not return an error if path do not exist

Indeed, it's not a blocker for now but I'm not sure we can make `AllowNotFound` working for now.

[2022-05-10 16:41] samalba commented on #2335
I agree with need something like this to introspect the DAG without running it. As an alternative, it could be a simple `dagger do [action] --dry-run` instead of a new command. The plan will need an optional action name since technically, each action is a distinct DAG.

[2022-05-10 16:48] shykes commented on #2335
Could this be part of #2331 ?

[2022-05-10 16:50] helderco opened #2424 "Proposal for CLI input flags in `dagger do`"
There's been a few issues around the limitation of choosing to add flags to the `dagger do` command that may conflict with the target action's input flags.

How about using a `--` to separate command flags from input flags?

[code]

Is it possible to split those, so that the command's flags would also only get what's before `--`?

Example of a (resolved) conflict:
[code]

[2022-05-10 16:51] shykes commented on #2139
Is someone working on this at the moment?

[2022-05-10 17:12] shykes commented on #2146
Good question.

* This error is definitely not the worst we've had
* Yes more context would be useful, but we already give user the most important: path where there is an error (`actions.deploy`) and the actual error (`field not allowed: registry`).
* The low-hanging fruit is to remove the useless pre-amble: `10:03AM FTL failed to load plan: ` makes sense from a logging point of view, but as a use

[2022-05-10 17:18] shykes commented on #1522
We've made some pretty good progress on this. I personally only use `dagger`, I don't even have `make` installed on my dev machine :)

Should we close this? And if not, what steps are missing to close?

[2022-05-10 17:19] shykes commented on #2156
Thanks to this issue, we caught the missing NOTICE file, and fixed that. Thank you @radimsuckr and @thaJeztah !

[2022-05-10 17:29] shykes commented on #2386
Thanks! That will probably unblock me :)

We should still consider this a bug, right?

[2022-05-10 18:44] mircubed commented on #2162
Closing #2269 since it reflects a similar ask, and adding the content here:

" Many users have difficulties to understand input and output concept and that lead them to issues they do not really understand.

We should write a page in core concept category to explain how you can link action together through input and output.
We should also explain when use docker.#Build and when not.

And also expl

[2022-05-10 18:46] mircubed commented on #2269
Closing this issue to consolidate since #2162 is similar.

[2022-05-10 18:46] #2269 closed

[2022-05-10 23:38] TomChv opened #2428 "✨ Allow `docker.#Run` exporting `dagger.#Secret` from `export`"
### What are you trying to do?

Exporting `dagger.#Secret` directly from `export`.

For instance

[code]

### Why is this important to you?

https://github.com/dagger/dagger/pull/2395 is an experimental package for 1password/.
This package required to export secrets as output.

### How are you currently working around this?

Currently, he's using `core.#NewSecret` in an intermediate `field`.

[cod

[2022-05-10 23:40] TomChv commented on #2428
Auto assigns this to me, I already worked on `export` to improve the UX (#1559) so I can take care of that one too.

[2022-05-10 23:49] aluzzardi commented on #2386
Yes. However I believe the bug is already tracked by #2263

[2022-05-10 23:54] TomChv commented on #1358
@aluzzardi @shykes Is this issue still useful?

[2022-05-11 00:47] shykes commented on #2386
Roger that.

[2022-05-11 00:47] #2386 closed

[2022-05-11 03:19] sipsma opened #2429 "🐞 Data race during `./plan/client/env/optional.cue test unset`"
### What is the issue?

Encountered this while testing CI things in my fork. Seems to be related to cue, but I was not changing anything in dagger code itself (just ci configs):
[code]

### Log output

_No response_

### Steps to reproduce

_No response_

### Dagger version

dagger devel (528b94fc) linux/arm64

### OS version

Linux dagger_dev 5.16.0-6-arm64 #1 SMP Debian 5.16.18-1 (2022-03-29) aa

[2022-05-11 13:34] berryp commented on #2180
This is gonna come up a LOT. It's just not something we're used to worrying about in most other environments and I get stung by this every time I pick up something new to do in Dagger.

[2022-05-11 15:55] samalba commented on #1522
There is one more set of integration tests we should migrate before closing this. Last week I implemented our core-integration tests, this week I want to port the universe one. And we should be good to go to close this.

[2022-05-11 16:10] helderco opened #2431 "Proposal: Create a `cue.mod/dagger.cue` file"
## Overview

### Upstream

As per #2163 we plan on adopting the upcoming solution from [upstream CUE for package management](https://github.com/cue-lang/cue/issues/851). That solution is modeled closely to how it works in Go. Right now we only have one `module` field in `cue.mod/module.cue`, but in the future that file will include everything from a `go.mod` file, e.g., `require`, `replace`,  `ret

[2022-05-11 19:51] #2428 closed

[2022-05-12 05:54] jpadams opened #2434 "`cue fmt -s` aka `--simplify` in CI linter is confusing for users making PRs"
`cue fmt -s` aka `--simplify` in linter is confusing for users making PRs with valid CUE code that doesn't pass.

https://github.com/dagger/dagger/pull/2433#issuecomment-1124550442

If this is important to us, it should be be documented somewhere like https://docs.dagger.io/1226/coding-style and users need better feedback/error messages in GitHub.

cc @samalba

[2022-05-12 08:20] morlay opened #2437 "Proposal: provide core.#ClientGlobalEnv to get env in any package"
### What are you trying to do?

Provide `core.#ClientGlobalEnv` to get env var which defined in `client.env`.

### Why is this important to you?

Now we have to define all env var in `client.env`

[code]

if we could get the unnecessary env var in the pre-defined task. it will make plan to simple.

[code]

[2022-05-12 09:52] #2196 closed

[2022-05-12 09:55] #2413 closed

[2022-05-12 11:02] helderco commented on #2437
This is the same issue that I replied in:
- https://github.com/dagger/dagger/issues/2200#issuecomment-1100082395

So this is for security reasons. It may look harmless with some environment variables but these can be secrets so there's real sensitive information that could be exposed like this, hidden in a third-party package.

In the plan, you have a top level field that makes it clear what's bei

[2022-05-12 11:06] morlay commented on #2437
For the security reason.

How about create `core.#ClientEnv` to limit usage?
only can get env key which defined in client.env

[code]

[2022-05-12 11:14] helderco commented on #2437
It's an interesting idea at first glance, but even though it's more verbose, it's also more clear where you're hooking stuff from client into which actions.

If you look only at the plan, not knowing how the actions are built, necessarily, it would seem you're exposing variables and not using them.

But the biggest downside, I think is, how would you control which variables you want exposed to whi

[2022-05-12 11:49] morlay commented on #2437
@helderco

Could split to `client.unsafeEnv` 😂
or using cue value tag `@unsafe()` to mark sharable

[2022-05-12 13:53] tspearconquest opened #2438 "dagger/docs/getting-started/1200-local-dev.md error on mac"
### What is the issue?

The documentation says:

The `dagger do build` command fails for me:

[code]

Did I do something wrong, or is there an issue with the documentation? I am not sure and as a new user, I would appreciate your guidance.

[2022-05-12 18:10] shykes opened #2439 "Error passing cache"
Filed on behalf of `Luis T#1639` on Discord:

[2022-05-12 18:13] lat0z commented on #2439
I am getting this error
[code]
If you want me to send the original plan I can share it, I have just removed few actions at the time I sent it to discord

[2022-05-12 20:21] helderco commented on #2439
Hi @lat0z, just looking at your plan quickly I spotted a shadowing issue. Try this:

[code]

[2022-05-13 01:52] morlay commented on #2431
if just a version.
it should be safe to use require from  require of `cue.mod/module.cue`

[code]

[2022-05-13 05:26] morlay commented on #2163
@aluzzardi @helderco
I have removed most magic things, `github.com/octohelm/cuemod v0.4.0`
only focus about cue mod.

and only remain the special feature, generating cue codes to from golang types.
[code]

[2022-05-13 13:34] helderco commented on #2163
Thanks @morlay, I'm going to give it a test drive.

[2022-05-13 14:14] #2220 closed

[2022-05-13 14:14] #2340 closed

[2022-05-13 14:16] #2175 closed

[2022-05-13 14:34] dolanor commented on #2139
Yes I am, working on the TTY rendering after investigating some time to maybe use some other logger/TUI interface.
It seems more about some logic that is wrong.
I wanted to add some test to have an idea of what was going on, but I would have to have some advanced mock because in the end, it's all syscall checking if the FD is a TTY.
So now, I'm debugging step-by-step to figure out where we are mis

[2022-05-13 14:35] dolanor opened #2444 "TTY rendering is buggy (e.g. flashing/broken lines)"
To fix this, I tried to add test to understand and consolidate our codebase around this.
It's more tricky as I can't just use a mock. The mock file type would get tested by containerd via syscall to check if it's a correct TTY.
So for now, I'm debugging it directly to understand what's the logic flaw.

[2022-05-13 16:57] mircubed commented on #2398
@sipsma hi! I just assigned to you for tracking, but I will set up some time for us to go through this epic in detail

[2022-05-13 18:17] piraces commented on #2417
Would like to hear about differences and comparisons too...

[2022-05-13 18:35] sipsma commented on #2398
Sounds good, thanks @mircubed!

[2022-05-13 21:47] jpadams opened #2448 "Continued enhancements for `x/.../debian` package"
Some suggestions here https://github.com/dagger/dagger/pull/2433

cc @lat0z

[2022-05-13 21:49] jpadams opened #2449 "Continued enhancements for `x/.../sam` package"
PR here https://github.com/dagger/dagger/pull/2435/
- [ ] tests
- [ ] ???

cc @munichbughunter

[2022-05-14 13:10] Youngshark3 opened #2451 "How about introducing bitbucket✨"
### What are you trying to do?

I would like to introduce bitbucket on your feature to help manage tasks.

### Why is this important to you?

I find bitbucket so cool especially when it comes to pipelines handling.

### How are you currently working around this?

am working with a team to improve and come up with a  good plugin to collaborate and integrate the two tools for efficient deployment.

[2022-05-15 14:38] piraces commented on #2375
Working on this!

[2022-05-15 15:46] piraces commented on #2298
Looking at this...

[2022-05-15 17:10] #2216 closed

[2022-05-16 09:44] qjcg opened #2455 "✨ Use init template from any dagger project"
### What are you trying to do?

 Today, I can use `dagger project init -t hello` to create a new dagger plan file using a single template available from the upstream `dagger` repo.

I would like to be able to use template files defined in my own dagger project (or that of another user on github) so that the template can be tailored to my particular needs.

For example, I could run:

`dagger projec

[2022-05-16 10:31] TomChv commented on #2455
Thanks for your request! I think it's a really good idea!

I put questions I have in mind:
- Should we handle private repository?
- Should we find for a predicated path in the repository (like you said `templates`)?
- What about `gitlab`, `bitbucket` or even `gist`??
- That could replace our current template logic that embeds files in the directory? Should we support both?

/cc @marcosnils @aluzza

[2022-05-16 12:05] Gineus opened #2456 "Wrong path in code sample"
### What is the issue?

On the page https://docs.dagger.io/1200/local-dev there is the console snippet:
[code]
It should be
[code]

[2022-05-16 20:59] helderco commented on #2455
I usually use [cookiecutter](https://cookiecutter.readthedocs.io/en/1.7.2/usage.html#works-directly-with-git-and-hg-mercurial-repos-too). There's an abreviation for github: `cookiecutter gh:foo/bar`. It handles everything you're saying. Is there something like it in golang so we can use it internally?

[2022-05-16 21:51] marcosnils commented on #2455
The thing that comes to my mind is to see if the mechanics of the go `importpath` could be reused here. ref: https://pkg.go.dev/cmd/go#hdr-Remote_import_paths

cc @shykes to get opinions about the DX

[2022-05-16 22:45] #2408 closed

[2022-05-17 00:54] shykes opened #2462 "Project, Plan: keep one"
## Problem

Dagger defines two slightly different concepts: "project" and "plan". This made sense in 0.1 with `dagger up`, but in 0.2 with `dagger do`, it is less needed and adds unnecessary complexity to the developer experience.

## Solution

Merge the two concepts, and keep only word. I propose to keep the word "project" because it is more familiar to developers.

## Details

### How it works t

[2022-05-17 13:26] qjcg commented on #2455
Thanks all for the quick replies! I'm glad I'm not the only one who sees **big potential value for the dagger project in making it as frictionless as possible to quickly add new Plans to many repos** --- let 1_000_000 dagger pipelines bloom! :)

@TomChv :

Ideally yes, I think orgs with private repos and self-hosters should be first class citizens.

This is a subjective design choice, but thinking

[2022-05-17 15:51] marcosnils commented on #2455
Going back to the DX topic, what would be the minimum expected output?

if I do `dagger project init --template <url>`

From the DX perspective, these is my main reason to **not** allow this :

What's the advantage of using a template over re-using existing actions? i.e if I do the following:

[code]

`mypackage.#Test` is an action that I can already reference through my dagger projects. It's impo

[2022-05-17 17:21] lat0z commented on #2439
@helderco Thanks!, that is what I was missing to fix it

[2022-05-17 18:26] slumbering commented on #2390
sorry @helderco, I've missed this issue.

Does the option **draft** in Markdown front matter could help ?
`A boolean flag to indicate that a document is a work-in-progress. Draft documents will only be displayed during development.`
https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-content-docs#draft

[2022-05-17 20:13] shykes commented on #2397
This sounds good to me. My main concern is accidentally crossing a "one way door" with our networking model. Specifically, I worry about making promises to our users (intentionally or not) about a container being reachable over the network, when in fact it is only reachable in a very specific infrastructure setup (where is buildkit running; what network setting is it running with; how is the under

[2022-05-17 20:33] shykes commented on #2383
This was requested by a user on Discord yesterday.

![6E869FCE-643F-4AE6-9316-FF07B9609084](https://user-images.githubusercontent.com/29565/168904980-0e581a74-829a-4c18-b7d9-7a7f7b061bbd.jpeg)

[2022-05-17 20:34] shykes commented on #1358
I personally think we should close it, since we're not actively working to port all universe packages. wdyt @aluzzardi @samalba @helderco @jpadams ?

[2022-05-17 21:11] helderco commented on #1358
I agree.

[2022-05-17 21:15] helderco commented on #2390
Oh, that's better than just not including the new page in the sidebar which is a current workaround, but the bigger problem is when we want to update an already existing page in a PR. This happened in:

- https://github.com/dagger/dagger/pull/2265

[2022-05-17 21:16] #2439 closed

[2022-05-17 21:40] marcosnils commented on #2397
the way the feature works "today" it's the same on all engines. I don't see any possible fragmentation here "except" for users that want to go beyond the "limitations" that the current implementation has (i.e: accessing a task port from the Dagger host). IMO the main *issue* that we have today from our side is that those limitations are not explicitly documented (hence this issue), so users could

[2022-05-17 22:35] mircubed commented on #1549
@samalba please update

[2022-05-17 22:47] shykes opened #2467 "Document core.#Source: what is it for, how do I use it?"
`core.#Source` is an important feature of the Dagger API, and it is not documented anywhere.

As requested by @siafu: "it would be great if you could explain when to use `core.#Source` versus `client.filesystem`.

[2022-05-17 22:51] #621 closed, assigned to nobody

[2022-05-17 23:37] sipsma opened #2469 "Include #Start exec output in progress logs"
Right now the stdout/stderr of an exec created with `core.#Start` is completely ignored. It needs to at minimum be included in the progress output by default, same as the output of normal `core.#Exec`s, to enable basic debuggability.

Subtask of #2398

[2022-05-18 01:13] shykes opened #2470 "Simpler Client API"
## Problem

The [Client API](https://docs.dagger.io/1203/client) is causing a bad developer experience. Developers often report confusion about what it’s for and how it works. Common reasons for the confusion are:

1. Unfamiliar. Unlike the [core action API](https://docs.dagger.io/1222/core-actions-reference) which works by applying action definitions, the client API works by setting values at a c

[2022-05-18 05:45] jpadams commented on #2397
I haven't had need for this with a Pilot yet, but I'm sure it will come up. I'll read the related issues to get educated.

[2022-05-18 05:55] shykes commented on #2397
@marcosnils that makes sense to me. I don’t have a well-informed opinion on what we should document or not, ship or not, at the moment. So I just wanted to state what I personally care about. As long as my concern is understood and shared, I’m happy with any plan the team chooses 👍

[2022-05-18 06:05] jpadams commented on #1549
related #2434

[2022-05-18 08:38] dolanor commented on #2470
I think that already the name is confusing. `client`, but it's actually to interact with the host.

I see it as a gateway to the host, as a way to do IO with the host. Maybe `io` or `Host` could already be a better name? It also makes me think of the Docker build context as well.
On the actual API, I don't have a suggestion except that the FS abstraction is, in fact, confusing and hard to get righ

[2022-05-18 15:11] shykes commented on #2470
Which host? The one running `dagger`, the one running `buildkitd`, or the one running containers? Keeping in mind there can multiple buildkit nodes in a cluster, and hopefully one day multiple nodes running each dag.

[2022-05-18 15:59] mircubed commented on #1912
@jpadams is going to do a tutorial with me this Friday on how to update docs, so I should be able to take on this issue to add the intro content.

I also want to improve the section to look like this example:
[Pulumi example](https://www.pulumi.com/resources/getting-started-with-automation-api/)

I can add the content first and then we can add the video later when it is done. A user also mentioned

[2022-05-18 16:52] mircubed opened #2472 "Update the get started video for Dagger"
It would be great to change the getting started page to match this look and feel: [example ](https://www.pulumi.com/resources/getting-started-with-automation-api/)

We need to update our getting started video from this page:[old video](https://docs.dagger.io/1003/get-started/)

[2022-05-18 16:53] mircubed commented on #1912
Going to work on a new getting started video as part of this improvement #2472

[2022-05-18 17:05] mircubed commented on #2472
@jpadams who would be best to record this new video? I would do it, but I am not technical enough atm. Was this the video that you were talking about creating already?

[2022-05-18 17:10] sipsma commented on #2397
@shykes I completely agree that ensuring Buildkit containers have a consistent networking environment (i.e. not host-dependent) is table stakes for considering this featureset completed and ready for wide use. I have related tasks and some discussion in the epic tracking issue for all this: https://github.com/dagger/dagger/issues/2398

[2022-05-18 17:37] #702 closed

[2022-05-18 17:54] shykes opened #2474 "Output format should be json when stdout is not tty"
`dagger do` prints the actions' outputs on standard output.

If I want to pipe the outputs to a tool, like `jq`, I need to explicitly set the output format to json with `--output-format json`. But that format should be the default when I am piping the output. This is already what we do for logging: log format defaults to json when output is not a tty.

[2022-05-18 18:35] sipsma commented on #2365
Just a note since I didn't explicitly mention it previously, with the new traces I setup in the integration tests I confirmed that these slowdowns are due to GHA cache returning 429 errors when importing/exporting cache, which causes Buildkit to exponentially backoff and the tests to timeout.

[2022-05-18 19:20] samalba commented on #1358
I agree as well, the initial plan was to port all of them, but we should instead focus on user requests.

[2022-05-18 19:20] #1358 closed

[2022-05-18 19:23] samalba commented on #2434
I think this is important to us to enforce some consistency. I'll update the coding style.

[2022-05-18 19:41] samalba commented on #1549
updated!

[2022-05-18 20:18] CarlosDomingues commented on #2438
I think it's broken, I had the same issue in Fedora 35.

I'm a new user as well, so I have no further suggestions =/

[2022-05-18 20:30] jpadams opened #2476 "Output to `stdout` should not print all `stderr` json logs when output stream redirected"
Currently if you redirect `stdout` via `> outfiile` or `| jq` or similar, you get all of the info(?) logs in json format from `stderr` dumped to the screen. Perhaps this is by design, but I was surprised by that given that I only wanted the output to pipe cleanly to `jq`. To declutter my screen I used standard redirect of `stderr` to `/dev/null`: `2>/dev/null`.

Example:
From https://docs.dagger.i

[2022-05-18 20:44] sipsma opened #2477 "✨ Ability to provide credentials for cache import/export"
### What are you trying to do?

Use remote cache import/export with a registry that requires credentials.

### Why is this important to you?

User in discord asked about it (specifically wanted to read creds from env vars). Also just a basic, self-evidently needed feature.

### How are you currently working around this?

No good workarounds that I'm aware of.

[2022-05-18 20:55] #2476 closed

[2022-05-18 20:56] jpadams commented on #2476
I realize that when redirecting, we might want to give option to redirect logs in json as well, so use `stderr` for that...

[2022-05-18 20:57] sipsma commented on #2397
@marcosnils I thought we had agreed to option 1 here: https://github.com/dagger/dagger/issues/2397#issuecomment-1118055063

The use cases, current limitations and steps needed to get to the point where we create official user docs for it are all documented in this issue: https://github.com/dagger/dagger/issues/2398

[2022-05-18 23:11] jpadams opened #2479 "🐞 If multiple `universe/x` packages under same author, only one is included in `cue.mod`"
### What is the issue?
If multiple `universe/x` packages under same author, only one is included in `cue.mod`
(not sure about inside dagger binary, but suspect absent as well)

### Log output

<img width="1449" alt="image" src="https://user-images.githubusercontent.com/3187222/169169696-f927028a-4545-4f7b-8d5e-4495bde3acf1.png">

### Steps to reproduce

[code]

should be two package dirs like in G

[2022-05-18 23:37] samalba opened #2481 "Document actions caveats & possible useful patterns"
### What is the issue?

Actions currently have some limitations that should be documented and kept up to date:

caveats:
- No support for dynamic actions (generate new actions from a conditional data generated at runtime)
- Actions tasks cannot be nested (#1343)

pattern:
- How to share code between actions (use of definitions or packages)
- Action grouping (group several actions under the same ke

[2022-05-18 23:37] samalba commented on #2481
@aluzzardi @jlongtine can you add caveats related to cueflow?

[2022-05-18 23:43] #1655 closed, assigned to gerhard

[2022-05-18 23:47] samalba commented on #1845
@dolanor (or anyone) do you have an idea how to address this one?

I would indeed add a quick paragraph for each CI that points to the corresponding CI doc (e.g. here is how to create a github actions workflow with github, move the file to .github/workflows/todoapp.cue at the root of the repository, etc...)

[2022-05-18 23:54] samalba commented on #2103
Seems related to #1784 from what you describe @helderco

@jpadams Given you now have more experience with the docs and CUE, do you have an opinion here?

[2022-05-18 23:54] shykes opened #2482 "Getting started tutorial: use the official yarn package"
## Problem

The "todoapp" tutorial used by the [Getting Started Tutorial](https://docs.dagger.io/getting-started) uses yarn, but does not use our own official yarn package (`universe.dagger.io/yarn`). Instead, it reimplements a custom version with hacks to work around limitations of the official package.

This causes two problems:

1) The todoapp configuration is more complicated, and less readabl

[2022-05-18 23:58] samalba commented on #2178
Agreed, and I would also include an example about keeping the scripts external to the CUE code.

[2022-05-19 00:21] samalba commented on #2342
comment from @shykes from issue #2467:

[2022-05-19 00:22] samalba commented on #2467
Closing, duplicate of #2342

[2022-05-19 00:22] #2467 closed

[2022-05-19 01:53] sipsma commented on #2397
Just a note, I checked with Sam and confirmed that he didn't mean to change the decision on how to approach the documentation here, he just added the `priority/high` label as part of triaging, so I removed it for now given our previous decision on how to approach this. If there's still disagreement and we decide to do documentation right away then I'll re-add it as part of our upcoming documentati

[2022-05-19 10:06] helderco commented on #2103
I think this issue is just asking for every example in the documentation to be fully working (copy/pastable).

[2022-05-19 15:01] dolanor commented on #2139
Right now, the TTY output seems to only display a live log of one task. (maybe my test case doesn't trigger a way to display 2 tasks at a time).
Is that something we want? do we want to display as many parallel tasks live log at the same time?

/cc @aluzzardi

[2022-05-19 15:02] dolanor opened #2485 "bubble up logs from commands"
Just to add to this, there does not seem to be a way to "bubble up" logs from when commands are executed inside of a docker container. This is really important for diagnosing why a plan is going wrong.

[code]

_Originally posted by @RonanQuigley in https://github.com/dagger/dagger/issues/2139#issuecomment-1096574018_

[2022-05-19 15:06] dolanor commented on #2485
@RonanQuigley: I extracted that from the previous issue.
You can display the date in the log when it is in the `plain` log format.
If the task succeeds in the `auto` (or `tty`) log format, it gets folded and hide its log.
Also, if the task doesn't need rerunning thanks to cache, it won't display the log again as well (even in `plain` log format)

Is there something you would like to work different

[2022-05-19 17:13] helderco commented on #2474
Makes sense, I'll push a fix quickly.

[2022-05-19 17:48] piraces commented on #2479
This package was included in commit https://github.com/dagger/dagger/commit/35390b02d7e0ac54db31614bb1ef16c6ddb46d6f

As of commit https://github.com/dagger/dagger/commit/22ed1c80c458fa655b73c6f51f100b250c19883b (latest commit) I can not reproduce this error in Linux nor Windows (since its already included in the repo). See attached image for Linux:

![Not reproducible in Linux](https://user-image

[2022-05-19 19:37] jlongtine commented on #2182
The main cause of the regression is a change in how comprehensions work, which causes `docker.#Build` to fail.

This `cue` issue speaks to the general broken pattern: https://github.com/cue-lang/cue/issues/1653

I am hopeful that the changes in the comprehension code should resolve this: https://review.gerrithub.io/c/cue-lang/cue/+/529524/36

I'm going attempt a reproduction using the above commit

[2022-05-19 20:27] mircubed opened #2489 "core.#Start Feedback"
Saving as a placeholder to collect all the core.#Start feedback in it's current state and future state. It will be tied into the core.#Start Epic #2398

[2022-05-19 20:29] mircubed commented on #2489
@jpadams assigning to you since you've been talking to the user directly. If we want to collect this feedback in discussions instead then I'd be open to that. We just need a single place to put all the feedback, so Eric can reference it as he completes the Epic above.

[2022-05-19 21:47] samalba commented on #2341
@grouville Assigning this one to you if you don't mind. I would ask guidance from @jpadams when you're ready to work on this, as it's pretty big in comparison to other docs issues.

[2022-05-19 22:04] shykes commented on #2341
Let's talk about this one before investing too much time, it might go down in priority depending on how we refine positioning (the whole "replace your Makefile / replace your CI workflow" approach doesn't seem to be performing very well compared to "replace one action first").

[2022-05-19 22:20] #2434 closed

[2022-05-19 23:16] shykes opened #2490 "Standalone install page"
## Problem

The [Dagger documentation](https://docs.dagger.io) don't have a standalone install page. There are installation instructions, but they are embedded/hidden inside the Getting Started tutorial.

Having a standalone install page, and ideally a easy-to-find location on the main website like "dagger.io/install" are tablestakes.

## Solution

Create a standalone install page.

[2022-05-20 01:23] #2474 closed

[2022-05-20 01:26] samalba commented on #2490
Duplicate of #2129?

[2022-05-20 02:19] shykes commented on #2490
Indeed :) Thanks

[2022-05-20 02:19] #2490 closed

[2022-05-20 04:36] jpadams commented on #2472
Yes! We can def work on together if you'd like to get more hands on.

[2022-05-20 04:49] mircubed commented on #2472
yup, would love to! I can edit pretty well in Imovie too, so I can help a lot with post edit stuff.

[2022-05-20 06:44] shykes opened #2491 "Pretty-print action outputs"
## Problem

* Good: `dagger do` runs action then prints its output fields. When the terminal is interactive, it prints them in a human-friendly table
* Bad: the string values in the table are formatted as CUE strings. This makes them harder to read and use, especially multi-line strings (`\n` are explicitely encoded).

Example:

[code]

## Solution

Change the formatting of output values, so that

[2022-05-20 06:45] shykes commented on #2139
I added #2491 to the list.

[2022-05-20 06:53] shykes opened #2492 "Don't show log-formatted messages on a tty"
## Problem

`dagger` prints most of its output via a standardized logger. This logger is great for producing machine-readable outputs, or sysadmin-friendly log files. But it makes the tool less pleasant to use compared to other command-line client tools. Prefixing every line with a cryptic loglevel code and timestamp, eg. `1:47AM FTL <the part you care about>` makes the UX worse.

## Solution

Pri

[2022-05-20 06:53] shykes commented on #2139
Added #2492 as well

[2022-05-20 06:54] shykes commented on #2139
I think we should consider not showing any live logs *by default*.

[2022-05-20 15:57] RonanQuigley commented on #2485
Sorry, I've not looked at Dagger for a while now (originally it was for work but that's been put down for the time being).

If I remember correctly, what I noticed after I posted this was that the logs _were_ there, it's just that they were in grey text which poorly contrasted with the terminal so I found that they were _very_ easy to miss.

It sounds like you're already aware of the formatting/pr

[2022-05-20 17:14] lat0z opened #2493 "Traces from logs"
Hello, I have a couple of questions:

1. I have been checking a plan behavior using the tracing.compose.yaml but wanted to see if the span and trace id where logged, so far I can't see them even using the log-level trace, by design those values are not included there?
Why I am trying to do that? I wanted to play around with the grafana stack, in order to correlate the logs with the traces tempo tr

[2022-05-20 19:25] sipsma commented on #2470
@jlongtine mentioned today that changing the way `client` filesystem writes work might help us work around some of the cue issues we are currently facing. Seems worth capturing here, but I'll let him explain the details.

---

In general, +100 to this. I think just changing the client stuff to be actions with the same general model as our other `core` actions (i.e. `client.#ReadDir`, `client.#Writ

[2022-05-20 19:42] aluzzardi commented on #2139
Is that something we want? do we want to display as many parallel tasks live log at the same time?

It's displaying the live logs of all tasks that are currently active. Number of lines per task is dynamically computed based on # of running tasks / term height.

[2022-05-21 03:22] shykes opened #2496 "🐞`dagger project update` vendors all universe"
## Problem

`dagger project update`, with no arguments, vendors the entire content of `universe.dagger.io` in `./cue.mod/pkg/`. This causes surprise, confusion and frustration for our developers.

##  Solution

Modify `dagger project update` to 1) load the cue project, 2) scan its dependencies, and 3) vendor only the universe packages that are imported.

[2022-05-21 04:51] shykes commented on #2163
Added #2496

[2022-05-21 13:17] kevinquillen commented on #2123
Unforunately that is not quite enough, because 'docker ps' still reports this on startup:

[code]

[2022-05-23 01:52] jpadams commented on #2260
cc @shykes DX

[2022-05-23 02:00] jpadams commented on #2383
<img width="971" alt="image" src="https://user-images.githubusercontent.com/3187222/169729277-22623b9d-7c12-44e8-a6cd-cc7795056252.png">

Need to ensure that we cover secrets as inputs via environment variables, files, and cli flags (unsupported, I believe: https://github.com/dagger/dagger/issues/1719#issuecomment-1065516501).

[2022-05-23 02:53] shykes commented on #2260
Yeah I agree this would be an improvement. The obvious question is: how fo we document the other flags?

[2022-05-23 08:55] dolanor commented on #2492
Would option/flag be a good enough solution for this?

[2022-05-23 12:36] grouville commented on #2341
Ok, I'll standby it then

[2022-05-23 13:23] tspearconquest commented on #2438
Yes, I can confirm it worked for me as well, but the problem is the documentation should indicate if this is the correct step to take when seeing this, that so new users can understand its not a problem where they did something wrong if the message appears. The documentation needs to be updated to account for this issue, kindly please do not close this until that is done.

[2022-05-23 17:13] samalba commented on #2341
I'll remove the prio for now.

[2022-05-23 17:56] shykes commented on #2492
I don't think so, no.

[2022-05-23 21:10] jpadams commented on #2259
@piraces thanks so much for driving choco and docs!
@vardrop thanks for wrangling scoop!

I'll close this issue now. Yes, would be good to figure out if we should integrate the release process into the `dagger` repo. cc @samalba

[2022-05-23 21:10] #2259 closed

[2022-05-23 22:18] jpadams commented on #2479
confirmed that in next release (likely May 24) that this issue will be resolved, but relates to https://github.com/dagger/dagger/issues/2496 in that it seems that packages are copied from the `dagger` binary.

[2022-05-23 23:13] dolanor commented on #1845
I guess the suggestion for quick CI introduction is a good idea.
What confused me in the first place is that the example was deep inside of universe, and putting/creating the file in the `.github` dir inside the dagger repo would be confusing, as there is other GHA config files.
Now that we have a dedicated todoapp repo, it is less confusing to add this file to your own fork of the todoapp.
So I g

[2022-05-23 23:30] dolanor commented on #2283
I guess, we could try to figure out which action should be part of the action run. And filter everything that is not part of the actions for this run.
I don't know how feasible it is, though.

[2022-05-24 01:54] sipsma commented on #2283
I think this just needs to be addressed upstream in buildkit. It's probably not worth trying to find a hack workaround for us here

[2022-05-24 04:39] jpadams commented on #1872
<img width="1110" alt="image" src="https://user-images.githubusercontent.com/3187222/169950214-f3344f51-b6ab-44a4-89eb-fb694794dc46.png">

[2022-05-24 18:06] #1522 closed, assigned to samalba

[2022-05-24 18:26] helderco commented on #2496
I see three features here.

## New sub-command

I think we need a command that just "installs" what's in `cue.mod/dagger.mod`, without changing it. The purpose is so that in CI you run this command after a clean git clone that installs your dependencies and verifies the checksums in `cue.mod/dagger.sum`. This avoids vendoring (committing `pkg` to git), while protecting against changes.

`dagger pr

[2022-05-24 18:35] helderco opened #2502 "Fix `dagger.mod` and `dagger.sum` formats"
## Problem

The `dagger.mod` and `dagger.sum` files are being written with a simple `fmt.Sprintf()`. `dagger.mod` isn't storing pseudo-versions for branches and in the case of `dagger.sum` it's also missing the version component.

## Solution

I think there's stuff we can reuse from `golang.org/x/mod` to parse and write these files. Also, make sure to generate pseudo versions for branches.

[2022-05-24 18:53] helderco opened #2503 "Do not require vendoring packages in git (i.e., use a global cache)"
## Problem

CUE only looks for packages in `cue.mod/{pkg,gen,usr}` (merging these directories). This has required us to commit packages to git.

## Solution

We do have our own `dagger.mod` and `dagger.sum` files, like Go. We can make them good enough to be depended on to reinstall packages in new git clones like in CI (verifying checksums). This makes committing `cue.mod/pkg` less necessary.

But

[2022-05-24 19:03] helderco opened #2504 "Support replace directives like in Go"
Our `dagger.mod` file only supports [require](https://go.dev/ref/mod#go-mod-file-require) directives. If we add support for [replace](https://go.dev/ref/mod#go-mod-file-replace), we can use it as a stop-gap for vanity URLs, but also as a better workflow for developing packages, without the need to manually setup links.

Examples:

- `universe.dagger.io => github.com/dagger/dagger/pkg/universe.dagg

[2022-05-24 19:16] helderco opened #2506 "Treat `dagger.io` and `universe.dagger.io` as external packages"
## Problem

We have a different behavior for built-in packages. `dagger.io` and `universe.dagger.io` are embedded in the binary and we have to extract the files from there, fixing the version to the binary version.

## Solution

Handle built-in packages like external packages, fetching from git. Then stop embedding these files into the binary.

### Version management

I think we can handle `univer

[2022-05-24 21:49] shykes commented on #2470
Assigning myself because I think this is important and I don't want to lose track of it. cc @mircubed

[2022-05-24 21:49] #2375 closed

[2022-05-24 21:49] shykes commented on #2462
Assigning to myself because I think it's important and I don't want to lose track of it. cc @mircubed

[2022-05-24 21:52] helderco opened #2508 "Support "tidy"'ing"
## Problem

To keep a project up to date on dependencies, there's a bit of manual work involved.

## Solution

Add a new `dagger project tidy` command that does the following:

1. Scan project imports
2. Add missing requirements to `dagger.mod`
3. Remove unused requirements from `dagger.mod`
4. Do a `dagger project update` (installs requirements, verifies/updates checksums)
5. Remove files that ar

[2022-05-24 22:26] helderco commented on #2496
We had these two items in the epic list:

- _Do not require to commit vendored packages in git (e.g. commit only dagger.mod and dagger.sum, just like go)_
- _Support "tidy"'ing, i.e. remove stuff in cue.mod/pkg that's not being used_.

I've converted them to issues which also act as requirements for this one. Let's focus here on what's in the title which is to only vendor universe partially (or ot

[2022-05-24 22:47] helderco opened #2509 "Support vanity URLs like in Go"
With #2504 we have a stop-gap solution for this. If we feel we don't want to wait for upstream we can check `?cue-get=1` and fallback to `?go-get=1` like in CUE's proposal.

Then implement `?cue-get` in `dagger.io` and `universe.dagger.io`.

[2022-05-24 22:49] helderco commented on #2163
I've converted a few list items into issues.

[2022-05-24 22:53] mircubed commented on #1549
@samalba will open a new issue to cover GitHub workflows, so this will be broken into two issues.

[2022-05-24 22:59] helderco opened #2510 "Support MVS"
## Problem

I don't think we're able to install dependencies of dependencies right now (I'll check), which means we need to list everything directly In the project's `dagger.mod`.

## Solution

Check the dependencies' dependencies and use the MVS algorithm on conflicting versions.

[2022-05-24 23:26] helderco opened #2511 "Improve how repos from required modules are downloaded (i.e., make it more modular)"
## Problem

When downloading modules from `cue.mod/dagger.mod`, we have a regex that tries to match a repo prefix and path suffix from a URL. This has limited capability. It works well enough if you have `.git` to split them, or if it's GitHub, though.

As for authentication, it assumes a public repo (https) unless a `--private-key` argument is provided, in which case ssh is used. We need more aut

[2022-05-25 12:12] cdhunt commented on #2462
In CI/CD products, `Pipeline`,  `Workflow`, and `Job` are defacto standard nouns. `Project` matches what .Net uses and `csproj` files work very similar to `dagger.#Plan`. I'm not sure there is a best choice, but I agree with picking one.

[2022-05-25 13:49] helderco commented on #2496
Just to be clear, I'm not opposed to prioritizing a quick fix for this now, which I agree would add quite a bit of value. I was just thinking how it would look like when some of the essentials get fixed (e.g., handling built-ins in `dagger.mod`, having a global cache, adding a `tidy` subcommand, etc).

So, while we still have the binary embedding and recommending vendoring, it makes sense to do th

[2022-05-25 16:04] shykes commented on #2496
That all makes sense to me. No strong opinion on the `test` dirs.

[2022-05-25 17:09] helderco commented on #2496
It's harder than on first look. Let's say you only import `alpine`. Alpine imports `docker`. So you have to be aware of these dependencies to add them too. Should we also filter some dirs out, like any `cue.mod` dir?

[2022-05-25 17:41] helderco commented on #2496
While developing a reusable module, you can also symlink from outside of your project into `pkg`. That has it’s own dependencies.

The same thing with modules in `dagger.mod`. Those may have _universe_ dependencies too.

We need at least an escape hatch to continue vendoring the whole universe, so we avoid people getting stuck over an unforseen case.

[2022-05-25 20:23] zach-source opened #2512 "🐞 workdir is ignored in most docker.#Copy"
### What is the issue?

After setting a workdir on the image config the #Copy steps writes to '/'. My assumption is that the #Copy and other commands would follow Dockerfile type guidance and respect workdir automatically.

### Log output

4:17PM INF system | installing all packages...
4:17PM INF system | installed/updated package dagger.io@0.2.12
4:17PM INF system | installed/updated package univ

[2022-05-25 20:35] samalba commented on #1845
Is it this one #2484 ? It just got merged in case it unblocks you for this one.

[2022-05-25 22:23] samalba commented on #1549
I reviewed all the workflows, all relevant github workflows are currently using the dagger action and a dagger plan. The rest don't need to be migrated.

Less urgent, we'll need to investigate to find a way to either:

A/ Dispatch all `dagger do` to separate workflows so we take advantage of github parallelization and events

OR

B/ Run all the dagger-do into a single workflow and efficiently use

[2022-05-25 22:23] #1549 closed

[2022-05-25 23:13] helderco commented on #2496
When you run `dagger project update` you may not have anything in `pkg`, so loading like that would fail. I'd need to first move everything there, then see what can be removed.

But even then, you can load multiple different plans in the same project, so the imports potentially look different between "loads".

I'm just overriding `Config.ParseFile` when using [load.Instances()](https://pkg.go.dev/

[2022-05-26 01:12] senorsmile opened #2514 "✨ Jenkins: way to align dagger build steps as Jenkins Build steps"
### What are you trying to do?

It would be great to be able to hook into the DAG created by dagger to create build steps in a Jenkins that align to visualize the progress of a long running job via Blue Ocean.

### Why is this important to you?

Seeing the output visually is often helpful vs just seeing streaming text output.

### How are you currently working around this?

I don't see a way to wo

[2022-05-26 11:24] helderco commented on #2491
Does it make sense to print multi-line strings in the table format?

[2022-05-26 12:24] helderco commented on #2506
Added version management sections.

[2022-05-26 12:30] helderco commented on #2506
@aluzzardi what do you think about using the `require dagger.io v0.2.10` as a replacement for `cue.mod/version.txt`?

[2022-05-26 12:43] helderco commented on #2431
You may be right @morlay. I've described how this would work in #2506. Haven't found another need for adding to this file, and I'd rather avoid adding stuff on top of the upstream solution if possible.

So I'm closing this unless something else comes up.

[2022-05-26 12:43] #2431 closed

[2022-05-26 16:05] shykes commented on #2491
Probably not... But personally I want clean raw strings in my outouts more than I want a table format :)

It could be simply yaml, or something yaml-ish

[2022-05-26 16:28] helderco commented on #2491
The docker CLI truncates long lines. We can also trim, split by new line and only return the first one.

Maybe, as you say, ditch the table format and default to yaml. It's perhaps human readable enough, supports multi-line strings and more complex structures.

[2022-05-26 16:38] helderco commented on #2491
Difference for simple strings in plain vs yaml formats:

[code]
vs
[code]

[2022-05-27 11:35] TomChv opened #2523 "🐞 `docker.#Image` test are not ran as expected"
### What is the issue?

I was working on the CUE LSP loader when I found a disjunction error in the test file [`image.cue`](https://github.com/dagger/dagger/blob/main/pkg/universe.dagger.io/docker/test/image.cue).

It's because it's using the old way of exporting a file, but it was fixed in #1603.
I do not know why the error is not spotted, it's possible to run test and see them works but they are

[2022-05-27 13:59] #2129 closed

[2022-05-27 15:05] #2523 closed

[2022-05-27 18:50] #2342 closed

[2022-05-27 18:57] mircubed commented on #2472
@jpadams let me know if I can help with this at all. Otherwise, I'll just wait for the video and then we can incorporate it into changes needed for #1912

[2022-05-29 07:45] jpadams commented on #2272
@DazWilkin I think combining the practices of keeping scripts in their own files and using `core.#Source` to access a directory in a repo full of scripts, is a great way to illustrate this.

If you have a an example that we could use for this, it could make a great guide.

https://docs.dagger.io/1226/coding-style#dont-inline-scripts
https://docs.dagger.io/1240/core-source

[2022-05-30 02:17] morlay commented on #2496
@helderco

`ParseFile` is the only hook without change origin cue.

https://github.com/octohelm/cuemod/blob/main/pkg/cuemod/build.go#L29-L64
[code]

Notice the imports fix.

[2022-05-30 06:10] MarsMike commented on #2053
I can also help with this, located behind a proxy and dagger is using the proxy env variables.

[2022-05-31 07:49] tekumara opened #2536 "✨ rename _op to _pull"
### What are you trying to do?

Given an action like:
[code]

The output is
[code]

It's not self-evident that the line
[code]

[refers to an image pull](https://github.com/dagger/dagger/blob/070491b/pkg/universe.dagger.io/docker/pull.cue#L23).

### Why is this important to you?

Improves the logging UX for users new to dagger.

### How are you currently working around this?

Diving into [pull.cue

[2022-05-31 11:45] TomChv commented on #2536
Nice catch, I think it's a good idea to rename it.

Do you want to take care of it?

[2022-05-31 13:56] dolanor opened #2538 "🐞 dagger project init <whatever> doesn't init correctly"
### What is the issue?

With a typo on my dagger project init, I added a character o, it told me all was good, to proceed to `dagger project update`, but the update failed.

It actually created the `cue.mod` in the `o` subfolder.
We should display this info in the first log: ``Project initialized in <subfolder>! To install dagger packages, run `dagger project update` from <subfolder>``

### Log ou

[2022-05-31 16:00] rawkode opened #2539 "✨ Run from any directory"
### What are you trying to do?

I have a monorepo and I'd like to be able to run `dagger do` from any of the subprojects within the monorepo.

Much like `git commit` traces up the directory tree to find `.git`, I'd like `dagger do` to do the same for `cue.mod`.

### Why is this important to you?

To save me having to run `cd ../../../ && dagger do` or `dagger do -p ../../../`

### How are you curr

[2022-05-31 16:07] shykes commented on #402
I haven’t. cc @aluzzardi

[2022-05-31 22:00] sipsma commented on #1659
Another user in discord reported the same behavior here when using an image that did not have `/etc/passwd`. Sent out a fix here: https://github.com/dagger/dagger/pull/2542

[2022-05-31 23:57] #2249 closed

[2022-06-01 04:10] mircubed commented on #2145
@mr-joshcrane @ebastos just wanted to check-in to see if you saw @samalba comment above. If https://docs.dagger.io/1202/plan is missing something, please let us know. Otherwise, I will close this issue and consider it resolved.

[2022-06-01 08:32] tckb opened #2543 "Incomplete documentation for Publishing packages on Repository"
### What is the issue?

# Context
as documented in  [push-package-on-repository](https://docs.dagger.io/1239/making-reusable-package#push-package-on-repository)

Consumers of the package can retrieve the package by the _tag_ however the documentation does not specify any specific format of the tag when pushing the library to the repository.

# Problem
as per the [implementation](https://sourcegrap

[2022-06-01 08:42] dolanor commented on #2146
So we should check if this execution is run inside a terminal or not, and if yes, we remove the log prefix (with level + timestamp)?
Do we do that in all log formats (plain + tty)?

[2022-06-01 08:44] dolanor commented on #2079
In another issue, I think @shykes talked about putting ERR or error. The fact that it is a panic, fatal or error is a granularity that is not interesting for end users.

[2022-06-01 08:55] dolanor commented on #2146
I'm closing this as a duplicate of #2492 ? (which has a clearer title)

If there some subitems that really require our attention, let's create new issues out of this one.

[2022-06-01 08:57] dolanor commented on #2492
I replied here https://github.com/dagger/dagger/issues/2146#issuecomment-1143298030

Do we do that in all log formats (plain + tty)?

[2022-06-01 08:58] #2146 closed

[2022-06-01 14:12] helderco commented on #2543
Thanks for reporting. We'll improve the documentation and CLI output.

[2022-06-01 19:30] aluzzardi commented on #2506
Yep, that was the intention, `version.txt` was a temporary hack

[2022-06-01 19:51] shykes commented on #2079
I don't remember saying that specifically, but I do agree it would be slightly better. Generally it would be nice for users to get a "regular" terminal UX, instead of feeling like they are tailing log files. In other words, yes it's better if they're tailing readable log files, but even better if they're not tailing log files at all.

[2022-06-01 20:29] samalba commented on #2145
Closing this one as I think it's properly documented, anyone can re-open if we're missing anything for writing a plan.

[2022-06-01 21:03] mircubed commented on #2462
@shykes based on comments above, do you have a final decision for this?

[2022-06-01 21:04] mircubed commented on #2470
@shykes are you currently working on the design or do you need me to re-assign to someone else to focus on?

[2022-06-01 21:08] mircubed commented on #825
@aluzzardi can I close this task since it is currently being worked on in #2132?

[2022-06-01 21:14] mircubed commented on #2543
@helderco as we work on improving docs, could I assign this issue to you to update the docs or should we make a separate issue?

[2022-06-01 21:24] mircubed commented on #1254
@jlongtine Just checking in for an update. Let me know if you need additional support for this one

[2022-06-01 21:25] mircubed commented on #826
@aluzzardi should we reassign this to @dolanor since it falls under error message improvements? If not, can you provide an update?

[2022-06-01 21:26] mircubed commented on #826
Or can we close this since our Dagger run view in the UI should help with this? @aluzzardi

[2022-06-01 21:29] jlongtine commented on #2063
@mircubed Haven't thought about this in a while, so no update currently. I'm not sure how this is related to error messages, but I'm happy to have @dolanor take it over, if he's got interest + bandwidth.

[2022-06-01 21:32] sipsma opened #2550 "✨ Secrets support for Dockerfiles"
Right now `core.#Dockerfile` doesn't seem to support secret mounts: https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/syntax.md#run---mounttypesecret

The way this should work is that users should be able to configure, in CUE, a mapping of secret IDs to secret contents. Then, anytime their Dockerfile requests a mount for a secret with that ID, it should show up as expected.

Th

[2022-06-01 21:34] mircubed commented on #2056
reassign to @dolanor to confirm if we should close or not.

[2022-06-01 21:39] mircubed commented on #2063
Sorry meant to say "user pain" vs error messages due to DX tag.

[2022-06-01 21:41] jpadams opened #2551 "✨ `core.#ListDir` or `core.#FileSet` action"
### What are you trying to do?

get list of files in a directory by supplying a FS, a path, and an optional glob pattern.

### Why is this important to you?

from @rockyburt:

from @shykes:

### How are you currently working around this?

hacky implementation with bash script, redirect, export file etc.

 redirect to a file, then export that file.

 relates to #1620

[2022-06-01 21:42] sipsma commented on #1258
@mircubed
I actually think we should leave this as is. The short-term decision was basically "don't try to hack this together in a quick-and-ugly way", the long-term decision is to implement the feature described here in a clean way. Sorry about the confusion, I just wanted to capture the discussion somewhere at the time but didn't have a good place to back then.

[2022-06-01 21:48] verdverm commented on #1254
This is probably the CUE issue to keep an eye on: https://github.com/cue-lang/cue/issues/1325

I suspect that many changes to cue/flow will happen as a part of this change (epic?)

[2022-06-01 22:08] mircubed opened #2552 "End to end Dagger Real-World Example"
### What is the issue?

Many users have asked for a best practices example that shows how Dagger is used in "real life".

[2022-06-01 22:09] mircubed opened #2553 "Clarify how to run remote commands"
### What is the issue?

A user primarily uses Dagger remote, but they found it hard to understand how to use the commands while running remotely. We should add more clarification for this use case.

[2022-06-01 22:10] mircubed opened #2554 "How to run single actions within a cue plan"
### What is the issue?

A user has a cue plan with multiple actions, but they want to understand how to run a single actions with the same cue plan. We should clarify how to do this today and provide a real-world example.

[2022-06-01 22:12] mircubed opened #2555 "dagger-cue project init help - document command"
We don't have clear docs on how to use `dagger-cue project init help`. A user wanted to create a new cue file, but didn't see how to do this with `dagger-cue project init`. @marcosnils explained that they could use `dagger-cue project init help` command to do this.

We should make this more clear in the docs, so it is easier for our users to find.

[2022-06-02 06:12] shykes opened #2557 "Spike to diagnose issues with documentation search so we can create a fix"
## Problem

The [Dagger documentation](https://docs.dagger.io) has broken search. This makes it difficult for developers to find the information they're looking for.

## Solution

Fix the search feature in the Dagger documentation.

[2022-06-02 06:13] shykes commented on #2557
As suggested by @gerhard this morning. cc @jpadams

[2022-06-02 10:25] helderco commented on #2554
We need to know what's missing from the [Dagger Actions guide](https://docs.dagger.io/1221/action#discovery). You have the _Discovery_ and _Execution_ sections that should explain that. Did the user read it? Was it confusing, or something missing that would have helped? Should we add another action to that example to make it clearer that you can single out a single action amongst multiple ones?

T

[2022-06-02 10:33] helderco commented on #2543
This does seem like it requires two PRs (docs and cli), but they can go into one: "Clarify git tag format for versions". So I think it's ok to use this one.

[2022-06-02 19:50] sipsma commented on #1784
I'm imagining a high-level approach where we split this into 3 sections:
1. What is BuildKit
   * the `BuildKit Crash Course` section of [my blog post here](https://www.docker.com/blog/mergediff-building-dags-more-efficiently-and-elegantly/) may be a good reference for how to explain it quickly (though probably don't use Dockerfile as a central example to avoid confusion)
   * Include a diagram of

[2022-06-02 23:05] shykes commented on #2539
Just want to say, I run into the same issue in the dagger repo itself (using dagger to develop dagger) and it's really annoying.

[2022-06-02 23:12] sipsma commented on #1337
@samalba Technically `core.#Start` still requires setting a maximum timelimit on how long you will wait for the process before forcibly stopping it, but that can be set to arbitrarily high numbers and the underlying implementation has no inherent limit on how long to wait. So I'll close this, when we need to add support for a use case that requires literally indefinite waiting (i.e. https://github

[2022-06-02 23:12] #1337 closed

[2022-06-02 23:51] jpadams opened #2568 "Guide on `docker.#Build` inputs, outputs of `docker.#Image`"
### What is the issue?

Guide on `docker.#Build` inputs, outputs of `docker.#Image`

[2022-06-03 01:35] jpadams opened #2569 "✨ More `dagger project init -t` templates"
### What are you trying to do?

https://github.com/dagger/dagger/pull/2095#pullrequestreview-942809364

for top use cases

### Why is this important to you?

getting started

### How are you currently working around this?

copy paste from docs

[2022-06-03 06:47] rawkode commented on #2539
I’m currently exploring an alternative approach to, by having another CUE file in each “project” within the monorepo that defines its own #Plan and dependencies.

I think this might work well, but also will be a lot of repetition as my main CUE entry point at the top level will need the same details.

I don’t think I can reuse / merge the #Plans because CUE doesn’t really have a good way to work w

[2022-06-03 17:55] NarendraPatwardhan opened #2572 "✨ docker.#UpdateEnv or docker.#Path"
### What are you trying to do?

I am trying to update the PATH variable based on its previous value inside docker.#Build. docker.#Set is insufficient for it. A mechanism to update env values or PATH specifically should be abstracted away as an action for ease in translation.

### Why is this important to you?

Various pieces of software demand the PATH variable be updated for global discovery.
ENV

[2022-06-03 18:18] helderco commented on #2572
This is how I do it:

[code]
We don't resolve variables like `$VAR`, but you can interpolate the value in CUE.

If this doesn't work for you, can you please show how you're using it? I may require a small tweak based on your use case.

[2022-06-03 18:30] helderco commented on #2572
Here's a full example:

[code]
[code]

You can see the output of `docker.#Run` with `--log-format plain`:
[code]

[2022-06-03 18:38] NarendraPatwardhan commented on #2572
Thanks! This solved my problem. I didn't have a input: _ field in #Set

[2022-06-03 18:38] #2572 closed

[2022-06-03 21:29] NarendraPatwardhan opened #2576 "🐞 Environment variables inaccessible after docker.#Set"
### What is the issue?

After using docker.#Set & { config: env: <Key>: <Value> } once inside a docker.#Build, all default environment variables such as PATH, and HOME become inaccessible for interpolation. They exist inside the resultant image when a container is spun up to check.

### Log output

9:22PM ERR system | failed to load plan: actions.test._build._dag."2"._set.config.env.PATH: invalid

[2022-06-04 09:57] NarendraPatwardhan commented on #1466
Came across this issue while porting a Dockerfile. A temporary fix is to import "list"
and using steps: list.FlattenN([<original_steps],2) inside docker.#Build (The level might be higher depending on nesting).

[2022-06-05 06:38] jpadams opened #2580 "show how to use `powershell` package on `arm` machines in test or docs"
Today, the `universe.dagger.io/powershell` package's tests employ

`mcr.microsoft.com/powershell` which is only for x86/amd

The Microsoft team has released an image tag for arm32 that works on arm32 and arm64 linux including MacOS: `mcr.microsoft.com/powershell:arm32v7-ubuntu-bionic`
https://github.com/PowerShell/PowerShell-Docker/issues/520#issuecomment-1121468388

[2022-06-06 18:54] jpadams opened #2582 "🐞 `dagger do` help should indicate where to insert action name"
### What is the issue? & Log output

Today if you run `dagger do` or `dagger do --help` you are returned something like

<img width="400" alt="image" src="https://user-images.githubusercontent.com/3187222/172227384-3d9200c2-c2a8-4079-87d5-c1db9293c597.png">

It looks like the proper command syntax is `dagger do [flags]`, but it should be something like:

[code]

Note: `[action]` here could be some

[2022-06-06 23:46] scarolac commented on #2417
Earthy devs made an update to their FAQ
https://earthly.dev/faq#dagger

[2022-06-07 01:00] mircubed opened #2585 "Make actions more visible"
### What is the issue?

Note from Discord:  it'd be really helpful to have the list of available actions surfaced a bit more prominently on the site! I had to dig down to https://docs.dagger.io/1202/plan/ before anything linked me to the universe repo

https://discordapp.com/channels/707636530424053791/708371226174685314/983530001355902978

[2022-06-07 01:32] mircubed commented on #2444
@dolanor were you able to sync with Sam about this one to see how he might want this to move forward? If I remember correctly, this one relates to pre-europa right?

[2022-06-07 10:00] dolanor opened #2586 "document `docker.#Set` for env variable in `docker.#Build`"
### What is the issue?

@helderco explained how to use `docker.#Set` to update env var [here](https://github.com/dagger/dagger/issues/2572#issuecomment-1146249232)
It is full of magic and footguns. At least having documentation about it could be good.

I think we should also improve DX with a better API in a ulterior goal.

[2022-06-08 05:59] morgante commented on #2260
I also find the verbose output on any failure to be quite distracting. If there is an error with the Cue parsing, the info I need is hidden behind a wall of irrellavent flags.

For example:
[code]

[2022-06-08 07:46] mlkmhd opened #2589 "✨ resolve dependencies"
### What are you trying to do?

I created a `main.cue` and imported the `github.com/mlkmhd/dagger-maven` project in it, but it does not resolve my dependency when I run `dagger project update` command:

main.cue:

    package main

    import (
        "dagger.io/dagger"
        "dagger.io/dagger/core"
        "github.com/mlkmhd/dagger-maven"
    )

    dagger.#Plan & {
    ...

I run this command

[2022-06-08 08:35] TomChv commented on #2576
The error is normal, the interpolation will be evaluated before `docker.#Set` run so `config.env` is empty at this state.

For now I do not see a solution, maybe @jlongtine has an idea?

[2022-06-08 19:18] samalba opened #2592 "Port and re-enable docs integration tests"
Docs integration tests (`./docs/learn/tests`) were never ported after the Europa release.

We need to have basic coverage, at least of the getting started example.

[2022-06-09 01:18] #2231 closed

[2022-06-09 06:34] shykes opened #2596 "🐞 `dagger do --help` panics"
## Problem

When running `dagger do --help` on a valid plan, I see the following error:

[code]

When executing an action in the same plan, for example `dagger do build`, the action is executed normally with no issue.

## Dagger version

Devel, git commit `eaff2c63d3fd41d85bb6fc6eed4cb515613b7a18`.

[2022-06-09 06:42] shykes opened #2598 "Generate native CI configurations instead of manually writing them"
## Problem

Deploying a Dagger project to CI, like Gitlab, Github Actions or Jenkins, is a manual and fastidious process. It is not "fire and forget": future changes to the Dagger project will often require changes to the CI configuration calling it as well. This adds friction to our DX, and creates the risk of drift and manual error.

## Solution

`dagger` should support generating native CI conf

[2022-06-09 07:01] #2596 closed

[2022-06-09 07:39] rolule opened #2599 "Use wget instead of curl in Gitlab CI example"
### What is the issue?

Hello,
I looked at the Gitlab example [here](https://docs.dagger.io/1201/ci-environment) (which works btw) and wondered why curl is installed for fetching the dagger install.sh instead of just using wget, which is natively available in Linux systems. I am no expert in this matter, but this seems like unnecessary overhead for me.

If using wget, this line could be removed:
`

[2022-06-09 07:59] gerhard commented on #2596
Great spot & fix @shykes, thank you! 🙌

Good decision @marcosnils for sitting on this an extra day. We should be good to cut another patch release today. Shout out @aluzzardi if you think otherwise.

All looks good on our end @slumbering & @mircubed.

[2022-06-09 15:34] slumbering opened #2600 "Error with a package"
### Dagger Cloud run URL

https://dagger.cloud/runs/4327b9e4-81cf-4eb2-b8f1-bea1b84d89ea

### What happened? What did you expect to happen?

_No response_

[2022-06-09 15:39] slumbering commented on #2600
This issue is here for test purpose only

[2022-06-09 16:28] slumbering opened #2601 "Marcos I need help please"
### Dagger Cloud run URL

https://dagger.cloud/runs/4327b9e4-81cf-4eb2-b8f1-bea1b84d89ea

### What happened? What did you expect to happen?

_No response_

[2022-06-09 17:13] sipsma opened #2603 "✨ Standard error reporting (e.g. JUnit XML)"
### What are you trying to do?

Clearly export and see errors from a Dagger do execution using a standard format. Someone I talked to after my PlatformCon talk mentioned this as a good way to integrate with existing systems:

They in the past have struggled with trying to parse errors out of BuildKit's (custom, non-standard) output, something like this seems like it would help them a lot

### Why

[2022-06-09 17:53] jpadams opened #2604 "Guide for overriding default image in Actions like in `yarn` package"
### What is the issue?

Users think they're stuck with default image and need to supply their own, but don't know how.

This shows an example of how:
https://github.com/dagger/dagger/blob/main/pkg/universe.dagger.io/yarn/test/test.cue#L73-L95

[2022-06-09 18:23] jpadams opened #2605 "Guide on What is a `dagger.#FS`"
### What is the issue?

Users are confused about what's an `FS`, what is if for, what can you do with it, what does it contain, which other Actions/Types use it, how?

[2022-06-09 19:57] jjthiessen opened #2607 "🖐️ Unifying CUE struct disjunctions with client.env values"
### Dagger Cloud run URL

https://dagger.cloud/runs/38b70464-c8b4-4be0-8342-15ad9872ec15

### What happened? What did you expect to happen?

The referenced run was successful, but not quite what I was trying to do.
Apparently the telemetry wasn't getting uploaded for my failed runs.

In any case, this is what I was actually trying to do:
[code]

But this doesn't work — instead I get:

[code]

[cod

[2022-06-09 19:59] jpadams opened #2608 "Guides for working with cloud registries with Actions to follow"
### What is the issue?

Users aren't sure how to use registries other than Docker Hub with `core.#Pull/#Push` and `docker.#Pull/#Push`. Docker Hub which might be rate-limiting/throttling them, or they might have an org requirement to use their registry. Common ones will be AWS ECR, Azure ACR, Google GCR, GitHub Container Registry.

Can start with using command on client to get creds.

[code]

[2022-06-09 21:36] jpadams opened #2609 "Guide for showing easiest way to develop a Universe package right in a fork of `dagger/dagger`"
### What is the issue?

Since it's complicated to get package management right and we'd love folks to share their creations with the whole Dagger community via Universe, it's easiest if they develop their packages right in a Universe context versus in a disconnected repo.

To that end we'd recommend creating a fork of `dagger/dagger`, creating a branch for their new package, then putting it under

[2022-06-09 21:52] jpadams opened #2610 "Guide for troubleshooting `cannot reuse body, request must be retried` errors when pushing multiple images back to back?"
### What is the issue?

`cannot reuse body, request must be retried` errors when pushing multiple images back to back?

[code]
Was reported with Quay, but seems to affect lots of container registries.
I'm seeing similar errors here: https://github.com/docker/build-push-action/issues/452
fix suggested by some: https://github.com/docker/build-push-action/issues/452#issuecomment-1058826154

Here's th

[2022-06-09 21:55] jpadams commented on #2610
open question: May be a good feature request to have that docker metadata step built in. ??

[2022-06-09 22:27] jjthiessen commented on #2607
For now, I'm working around this with something like the following:

[code]

Which yields:

[code]

[code]

[2022-06-09 22:29] jjthiessen commented on #2607
Specifying the `@tag()` can be useful if you split the configuration CUE file from the Dagger one (which I do in my non-toy example).

[2022-06-10 00:01] #2079 closed

[2022-06-10 04:21] morlay commented on #2503
Cue not  resolve sub vendor (`cue.mod/pkg`) like go vendor did.
Once import path resolved, all sub module will use the first one

[code]
If cue support sue vendor resolve,
we could create store like pnpm did, to support multi versions (just for semver conflicts)
https://github.com/morlay/cue-mod-multiple-versions

[2022-06-10 17:43] #2536 closed

[2022-06-10 18:04] samalba commented on #2153
@grouville Would you be ok to take this one?

[2022-06-10 18:07] samalba commented on #402
Closing this, I haven't encountered this one either. Someone can re-open if the problem occurs again.

[2022-06-10 18:07] #402 closed

[2022-06-10 18:08] samalba commented on #825
Closing, duplicate of #2132.

[2022-06-10 18:08] #825 closed

[2022-06-11 04:26] jpadams commented on #2539
Here's one hack with a file called `dagger.cue` with your plan in it. You could also look for `cue.mod`.

`~/dagger-find-up`
[code]

`alias dag='~/dagger-find-up'`

`dag do hello --log-format plain`

[2022-06-11 22:11] kralicky opened #2614 "🐞 (x/pulumi) Stack outputs marked as secret are exported as the string `[secret]`"
### What is the issue?

Any secret outputs generated by `pulumi.#Up` are exported as the literal string `[secret]` instead of the actual secret value. I needed to edit the `up.sh` script to add `--show-secrets` to work around this issue.

cc @rawkode @sipsma

### Log output

_No response_

### Steps to reproduce

_No response_

### Dagger version

dagger devel (6d14bdda) linux/amd64

### OS versio

[2022-06-12 17:04] morgante commented on #2539
@jpadams Thanks for sharing the hack, this is somewhat similar to an alternative I had tried. Unfortunately, it requires cue.mod to be in a parent directory—for my use case, I want to essentially share a Dagger plan across many projects. So the directory structure would be something like this:

[code]

I'd like to be able to run the actions from the .tooling directory on app1 and app2, but haven't

[2022-06-13 04:59] tekumara opened #2619 "✨ Support docker kubernetes builders"
### What are you trying to do?

Use dagger with buildkit deployed via:
[code]

### Why is this important to you?

To talk to the instance, the docker client execs `buildctl dial-stdio` inside the pod and streams stdin/out (see [execconn](https://github.com/docker/buildx/blob/add4301ed6dc3bdd80375e6f8abd85098a91d351/driver/kubernetes/execconn/execconn.go)). Using buildctl this looks like:
[code]

I

[2022-06-13 05:48] shykes commented on #2619
This would be great. It should fit just fine in the overall design. We just someone to implement ot :)

[2022-06-13 07:40] grouville commented on #2153
With pleasure 😇

[2022-06-13 12:23] mlkmhd commented on #2508
this project was a good package manager for ‍‍`.cue` files:
https://github.com/octohelm/cuemod

is it possible to merge it to dagger source?

[2022-06-13 14:39] sipsma commented on #2619
In theory we do support this already as we include the `kubepod` connhelper: https://github.com/dagger/dagger/blob/ac469c02576cc6c6d732a1aea7eec1427cacca05/client/client.go#L25-L25

You should be able to tell dagger to use the buildx worker by setting `BUILDKIT_HOST=kube-pod://<workername>`. [This is hinted at but not explicitly stated in our docs](https://docs.dagger.io/1223/custom-buildkit/#usin

[2022-06-13 16:16] helderco commented on #2153
Sorry @samalba, I wasn't able to finish this before my vacation last week, but I have a WIP.

[2022-06-13 21:58] mircubed commented on #1845
@dolanor just wanted to check-in to see if this was still blocked?

[2022-06-14 02:15] morlay commented on #1371
https://github.com/octohelm/dagger#multi-arch-builds

builder is not neccessary.
changes of https://github.com/dagger/dagger/pull/2310 required.

[2022-06-14 10:28] helderco commented on #2586
`docker.#Set` is being documented in #2153, I already added this tip.

[2022-06-14 13:58] dolanor commented on #1845
I tried it.
I cloned the dagger/todoapp repo, I copy/pasted the content of the workflows, and it failed with:
[code]
It was because I didn't set a `NETLIFY_TOKEN`. But it wasn't explicit about it.

I set the secret and it blocked for another issue:
[code]
I thought because my site didn't have this name, so I set it up with this name, but it didn't fix it.
I don't know much about netlify, so if it

[2022-06-14 14:32] dolanor commented on #1845
It was a wrong naming of my netlify app from previous tests.
So now it's working, but again, the discoverability of what was the issue is bad.

[2022-06-14 14:36] ebcFlagman opened #2623 "🖐️ Pull from git with self-sigined certificate"
### What is the issue?

I tried to pull from a remote git repository which runs with a self signed certificate. Is there a option to add a trusted certificate?

### Log output

#1 0.058 Initialized empty Git repository in /var/lib/buildkit/runc-overlayfs/snapshots/snapshots/3/fs/
#1 0.144 fatal: unable to access 'https://gitlab/group/project.git/': SSL certificate…
4:25PM FTL failed to execute pla

[2022-06-14 14:43] grouville commented on #2623
Hi, did you try https://docs.dagger.io/1224/self-signed-certificates/ ?

[2022-06-14 20:38] marcosnils opened #2626 "Browser keeps opening when engine requires re-auth"
Fixed by https://github.com/dagger/dagger/pull/2625

[2022-06-14 20:39] jpadams opened #2627 "Need guide on FS mounts"
### What is the issue?

Help users understand why some actions sometimes fail due to missing files or confusions about filesystem and mounts locations.
See comment form @marcosnils at
https://github.com/dagger/dagger/issues/2197#issue-1204811074

During many help sessions there is confusion about
- what "transient" or "ephemeral" filesystem mounts mean.
- confused between docker bind mounts and da

[2022-06-14 20:57] helderco commented on #2627
Is that the right comment? Can you give examples of confusion?

[2022-06-15 00:10] shykes commented on #2482
This is now solved! Thanks for catching :)

[2022-06-15 00:10] #2482 closed

[2022-06-15 02:07] clly commented on #1950
I was looking for a way to customize the `bin_dir` which I believe would solve this issue as well. The `install.sh` script is using the `install` command to move the binary into the location.

To run it from anywhere and install into `/usr/local/bin` you would use `curl -L https://dl.dagger.io/dagger/install.sh | sudo BIN_DIR=/usr/local/bin sh`

I can create a PR with the functionality and have th

[2022-06-15 05:29] jpadams opened #2628 "Design and execution of guided onboarding web experience"
Landing page with type-ahead search/tags-driven navigation of guides, starter templates, universe actions catalog (stretch).

@slumbering @Camille-Elairin @crjm

related: #2557 #1912 #2472 #2585

[2022-06-15 05:37] jpadams opened #2629 "GitHub App to create GitHub Actions workflows that connect to Dagger plans"

[2022-06-15 06:26] jpadams opened #2630 "Starter template Dagger plans"
starter template code, guide on how to use

#### Templates needed

- [ ] node.js
- [ ] docker image build & publish
- [ ] dotnet
- [ ] maven
- [ ] python-app
- [ ] c & cpp
- [ ] golang
- [ ] gradle
- [ ] laravel or other PHP (composer?)

[2022-06-15 11:17] bgroupe commented on #1503
@grouville In some cases registries have their own auth plugins and thus may only take API keys as username when using the Docker CLI. Digital Ocean container registry is one example, ie

```docker login -u ZDRhYzzzz -p ZDRhYzzzz registry.digitalocean.com```

https://docs.digitalocean.com/products/container-registry/how-to/use-registry-docker-kubernetes/#docker-integration

[2022-06-15 12:44] kevinquillen commented on #2123
In order to remove this in full, you need to remove the binaries as well as run the following to get rid of the container(s) created by Dagger:

`docker update --restart=no CONTAINER_ID`

Otherwise you will have orphaned containers running every time you start your computer (their restart policy is set to always).

[2022-06-15 15:45] #2626 closed

[2022-06-15 16:23] helderco opened #2631 "Improve parsing for git URLs when adding third party CUE modules"
### What are you trying to do?

The current design for fetching repos is very limiting. We're parsing a URL into repo and path, but current design assumes 2 parts for the repo and rest for the path.

For example, the URL `gitlab.com/dagger/dagger/stdlib/test/test` gets parsed into:
 - **Repository:** `github.com/dagger/dagger`
 - **Path:** `/stdlib/test/test`

I think it's more flexible to require

[2022-06-15 16:57] jpadams opened #2633 "Add GitHub check to redirect submissions from `universe.dagger.io/x` to `alpha`"
cc @samalba

Functionality: PRs to `universe.dagger.io/x` should be blocked by a check and the copy below should point contributors to `alpha` instead.

Proposed copy:

[2022-06-15 16:58] jpadams opened #2634 "Universe contributions change (alpha, beta, stable) tracking issue"
We've changed the contribution flow and need to let folks know about it in all the right places (plus help with automation):
https://github.com/dagger/dagger/discussions/2616

TODO:
- [ ] https://github.com/dagger/dagger/issues/2633
- [ ] https://github.com/dagger/dagger/issues/2637
- [x] https://github.com/dagger/dagger/issues/2635
- [x] https://github.com/dagger/dagger/pull/2617

Related:
- [ ]

[2022-06-15 17:02] jpadams opened #2635 "Guide for Universe contribs (alpha, beta, stable)"
Either new guide and link from
- https://docs.dagger.io/1227/contributing
or inclusion in that guide

based on https://github.com/dagger/dagger/discussions/2616

[2022-06-15 17:08] jpadams opened #2636 "Find home for packages in `universe/x` not yet moved"
https://github.com/dagger/dagger/pull/2579#issue-1260905491

[2022-06-15 17:13] jpadams opened #2637 "Add GH check to prevent PRs to deprecated universe packages"
As part of the new contribution flow, we'll mark packages as `Deprecated: <message>` with a comment in the `.cue` files.
If deprecated, PRs should be blocked.

cc @samalba

Related:
- #2633

[2022-06-15 19:12] jpadams opened #2638 "bash package should accept flags in addition to args"

[2022-06-15 19:14] jpadams opened #2640 "yarn package should accept a non-alpine image override for default alpine image"

[2022-06-15 19:26] jpadams commented on #2638
cc @Siafu

[2022-06-15 21:20] #2638 closed

[2022-06-15 21:22] #2153 closed

[2022-06-15 21:24] mircubed opened #2642 "Create a guide for the community on how to create a template"
We want to create some starter templates. We will make an issue for each of the templates that we are requesting.

This issue specifically covers the need for a guide that the community can use to build the templates quickly. The output of this issue should be a guide that the community can follow to ensure that all of the starter templates have the same consistency.

Once completed, we will attac

[2022-06-15 21:26] mircubed opened #2643 "Node.js Starter Template v1"
We'd love to have a Node.js starter template.

Recommended approach and best practices for creating a starter template - (coming soon with #2642 )

[2022-06-15 21:28] mircubed opened #2644 ""docker image build & publish" Starter template"
We'd love to have a "docker image build and publish" starter template.

Recommended approach and best practices for creating a starter template - (coming soon with https://github.com/dagger/dagger/issues/2642 )

[2022-06-15 21:29] mircubed opened #2645 "Dotnet Starter Template"
We'd love to have a dotnet starter template.

Recommended approach and best practices for creating a starter template - (coming soon with https://github.com/dagger/dagger/issues/2642 )

[2022-06-15 21:30] mircubed opened #2646 "Maven Starter Template"
We'd love to have a Maven starter template.

Recommended approach and best practices for creating a starter template - (coming soon with https://github.com/dagger/dagger/issues/2642 )

[2022-06-15 21:30] #2103 closed

[2022-06-15 21:31] mircubed opened #2647 "python-app starter template"
We'd love to have a python-app starter template.

Recommended approach and best practices for creating a starter template - (coming soon with https://github.com/dagger/dagger/issues/2642 )

[2022-06-15 21:32] mircubed opened #2648 "c & cpp Starter Template"
We'd love to have a c & cpp starter template.

Recommended approach and best practices for creating a starter template - (coming soon with https://github.com/dagger/dagger/issues/2642 )

[2022-06-15 21:33] mircubed opened #2649 "golang Starter Template"
We'd love to have a golang starter template.

Recommended approach and best practices for creating a starter template - (coming soon with https://github.com/dagger/dagger/issues/2642 )

[2022-06-15 21:33] mircubed opened #2650 "Gradle Starter Template"
We'd love to have a gradle starter template.

Recommended approach and best practices for creating a starter template - (coming soon with https://github.com/dagger/dagger/issues/2642 )

[2022-06-15 21:34] mircubed opened #2651 "laravel or other PHP (composer?) Starter Template"
We'd love to have a laravel (or other PHP) starter template.

Recommended approach and best practices for creating a starter template - (coming soon with https://github.com/dagger/dagger/issues/2642 )

[2022-06-15 21:35] mircubed commented on #2630
@jpadams I think we can close this one now since we made issues for each template now.

[2022-06-15 23:10] #2630 closed

[2022-06-15 23:26] jpadams commented on #2205
I've seen this done often via PR. Need to check if in automation.

@samalba @marcosnils ?

[2022-06-15 23:27] jpadams commented on #2339
This is superseded by the new alpha, beta, stable flow for universe: https://github.com/dagger/dagger/discussions/2616

[2022-06-15 23:27] #2339 closed

[2022-06-15 23:48] jpadams commented on #2552
Examples like this one (in progress) from @remakingEden should help a lot with this need :)
https://github.com/dagger/dagger/pull/2382

[2022-06-15 23:49] jpadams commented on #2651
#2620 related

[2022-06-15 23:52] jpadams commented on #2553
@mircubed needs more info, I think

[2022-06-15 23:56] jpadams commented on #2554
I think we want to show:

[code]

`dagger do build`
`dagger do deploy` does `deploy local` and `deploy cloud`
`dagger do deploy local` and `dagger do deploy cloud` single actions only

[2022-06-15 23:58] jpadams commented on #2604
blocked by #2640

[2022-06-16 00:00] samalba commented on #1950
Your suggestion makes sense, we'll welcome a PR (feel free to cc me on it)!

[2022-06-16 00:05] samalba commented on #2205
@gerhard has a draft PR for this: https://github.com/dagger/dagger/pull/2369

I agree this is needed.

[2022-06-16 01:11] jpadams opened #2653 "CUE docs gotchas updates"
### What is the issue?

need to make sure there are docs on these gotchas:
https://cuelang.org/play/?id=JKDWbdkJ5LV#cue@export@cue

template syntax vs array syntax vs string interpolation

template: `flags: [string]: string | bool` where this would be valid
[code]

vs array: `args: [...string]` where this would be valid
[code]
and `myarg: args[1]` evals to means `myarg` evals to `"bar"`

vs string

[2022-06-16 14:17] slumbering commented on #2628
Inspiration:
https://www.apollographql.com/tutorials/

[2022-06-16 14:17] karak1974 opened #2655 "Hard to put a secret into a file"
### What are you trying to do?

I'm trying to put a secret into a file, but it's very hard because there's no function what makes it easier.

### Why is this important to you?

_No response_

### How are you currently working around this?

_No response_

[2022-06-16 14:25] crjm commented on #2628
Inspiration:
https://marketplace.digitalocean.com/
https://fullstackopen.com/en/about

[2022-06-16 14:43] mircubed commented on #2628
@crjm and @slumbering working on initial draft

[2022-06-16 15:16] marcosnils opened #2656 "Avoid telemetry blocking the engine execution"

[2022-06-16 19:17] sipsma commented on #1784
Moved this back from in progress for now as there are some emergent high priorities (which may also impact what we write in these docs). Will reschedule once there is bandwidth again.

[2022-06-16 23:57] helderco commented on #1647
Not tracked, this is a conversation a bit in the air about the way commands are composed in `docker.#Run` being in need of a redesign. Nothing concrete has been drafted yet.

[2022-06-17 01:08] jpadams commented on #2251
@helderco I didn't see this issue before, but I also have a need for a deprecation marker for promoting Universe packages and stopping the PRs to deprecated packages.

We've already deprecated the old `universe.dagger.io/x` packages by using a comment at the top of the file like `Deprecated: in favor of ...`

I want to put a check in CI to stop PRs to deprecated packages, etc: https://github.com/d

[2022-06-17 18:22] helderco commented on #2543
@mircubed I don't have time right now to go into improving the error message, but quickly updated the documentation. To make it easier to track issues let's create a new one for the error messages aspect of this.

[2022-06-17 18:34] mircubed opened #2671 "improve error message for "dagger project update""
The documentation for the `dagger project update` will be improved in #2543.

This issue is for tracking the improvement of the error message that you get when using tags in `dagger project update`.

[2022-06-17 18:35] mircubed commented on #2543
@helderco sounds good! I created an issue to track the error message improvements in #2671

[2022-06-17 18:37] helderco commented on #2671
Sorry for the mixup, I decided it's simpler to do a quick fix in the error message as well, I'll create a new issue about the underlying behavior which needs fixing.

[2022-06-17 18:37] #2671 closed

[2022-06-17 18:48] helderco opened #2672 "Fix updating a CUE module when installed with a branch"
## Problem

We allow installing modules with a branch today, but this is giving [reproducibility issues](https://github.com/dagger/dagger/issues/2670). When updating packages today, only git tags are considered for finding latest versions (instead of considering branches). The best fix is to not store branches in `dagger.mod` but convert to pseudo-versions instead.

This is planned in #2502 but ma

[2022-06-17 18:52] helderco commented on #2543
Not thinking about adding a warning on install because I imagine using branches should be supported, it's just the way we store that and update that needs fixing.

[2022-06-17 18:55] helderco commented on #2671
New issue:
- https://github.com/dagger/dagger/issues/2672

[2022-06-17 20:43] dolanor commented on #2444
@mircubed, maybe, I'm not sure.

I finally made a breakthrough, it needs some rearchitecture to separate size/format from styling as we're currently doing both and counting size once styling escape codes or markups are in the text, which totally screw the count and get garbled once we have to trim a too long message.

My strategy is to use some struct that will store the content (string) with its

[2022-06-17 21:31] mircubed commented on #613
@dolanor removing you as assignee since you are working on another issue. Once we have a new assignee, we can scope this issue down into clear actionable tasks.

[2022-06-17 21:41] aluzzardi commented on #2056
@marcosnils I think this might have fixed by the changes you made a while ago (logger error messages), right? If that's the case we can close this

[2022-06-17 21:49] shykes commented on #2164
This would be a really cool feature for Cloud debugging... :) cc @marcosnils

[2022-06-17 21:52] shykes commented on #1806
I believe this is solved, you can pass inputs as command-line flags, and list available inputs with `dagger do --help`.

[2022-06-17 21:52] #1806 closed

[2022-06-17 21:54] shykes commented on #1255
I'm closing this, since actions inside `if` statements work correctly *as far as I know*. It's possible that they don't always work, but we should wait for a more detailed issue report.

[2022-06-17 21:54] #1255 closed

[2022-06-17 22:01] helderco commented on #2508
Not right now, I replied in https://github.com/dagger/dagger/pull/2292#issuecomment-1159254500.

[2022-06-17 22:16] mircubed commented on #2462
Note to self- we need someone to work on this other than @shykes , so removing as assignee.

[2022-06-18 17:25] jpadams commented on #2627
Additional user feedback:

g6pgqs1uk8ttbe3: "/vendor": not found" even though vendor in the _exec clearly exists.

[2022-06-18 17:33] jpadams commented on #2605
should highlight or link out to `core.#Source`, `export`,`client.filesystem` and how FS is key component of `docker.#Image`, etc.

[2022-06-18 17:45] jpadams opened #2676 "`dagger project init` and `project update` enhancements"
`dagger project init` should have option like `dagger project init --update --force` that runs a `dagger project update --force` right after init (`--force` is proposed new flag). This is useful in a new project or in CI environments.

`dagger project update` (without `--force`) should ask the user if they really want to update packages if the project's `cue.mod/pkg` directory is not empty. This c

[2022-06-18 18:18] jpadams opened #2677 "Guide to show how to write Actions with customizable images (registry/repo/version) with good defaults"
### What is the issue?

Today, some Universe Actions have hard-coded images or versions, in general, these should be customizable by the consumer of the package.

Example of solution: https://github.com/dagger/dagger/pull/2632/files

Example of issue: #2604

[2022-06-18 21:55] #2543 closed

[2022-06-18 21:57] jpadams commented on #2655
@karak1974 Can you explain more of what you want to do?
- Where does the secret come from? How generated?
- Why do you want to store it in a file?
- Where would the file be? On client (e.g. laptop, ci server) or file in a container in Dagger?
- Is the file ephemeral (use and throw away) or will it be persisted (e.g. on your laptop, encrypted in a git repo)?
- Would you store the secret decrypted o

[2022-06-19 05:00] jpadams commented on #2643
Question:
`npm` or `yarn` or both? Probably both...

https://www.linkedin.com/pulse/yarn-3-vs-npm-8-dev-teams-2022-alex-alksne/?trk=articles_directory
https://www.section.io/engineering-education/npm-vs-yarn-which-one-to-choose/
https://ruanmartinelli.com/posts/npm-7-workspaces-1

Inspirations:
- https://circleci.com/docs/2.0/language-javascript#build-and-test-the-app
- https://github.com/actions/

[2022-06-19 09:06] sagikazarmark opened #2680 "🐞 Optional env vars cannot be used as env vars"
### What is the issue?

Environment variables marked as optional cannot be used as environment variables in actions. For example, the following plan would fail:

[code]

It's not that simple though: if I remove the conditional check, the plan succeeds.

To make matters even more complicated, I tried to submit a failing test: #2679 ....but it doesn't fail.

Based on that, I tried to update the abov

[2022-06-19 10:43] helderco commented on #2680
This is one of those head scratchers from CUE's evaluator. Try this:

[code]

Notice how the condition has moved inside `env`. We advise this in https://docs.dagger.io/1226/coding-style#scope-conditions-and-loops-as-locally-as-possible. I learned it from Marcel in an issue, along with an explanation. We should dig that out.

[2022-06-19 10:53] helderco commented on #2680
I think I saw it here: https://github.com/cue-lang/cue/issues/1130#issuecomment-954780228

[2022-06-19 12:52] sagikazarmark commented on #2680
Thanks @helderco ! The above is just an example that demonstrates the problem, but i can reproduce it with custom definitions as well. For example:

[code]

Then in the codecov package:

[code]

This doesn't work either and I can't move the condition down.

Funny thing is, when the env var is set and I remove the condition it just works. So I guess you are right that it has to do with when it gets

[2022-06-19 12:56] sagikazarmark commented on #2680
The following seems to be working:

[code]

[2022-06-19 17:33] sagikazarmark commented on #2680
I thought the above would solve the problem, but as soon as I add any additional env vars to the client it fails again:

[code]

[code]

[2022-06-19 17:37] sagikazarmark commented on #2680
I also tried just passing in the optional env var to the token parameter:

[code]

Then in the Upload definition:

[code]

That results in the following error:

[code]

[2022-06-20 00:15] helderco commented on #2576
No, since it's `input`, it doesn't need `docker.#Set` to run. Besides, `docker.#Set` doesn't run any core actions, it's pure CUE.

I think there's a bug where the first `#Set` is clearing `env` so `env.PAHT` is not available in the next one. Need to investigate.

[2022-06-20 19:00] jpadams opened #2684 "improvement `dagger` cli short flag for `--log-format`"
It is common to use `--log-format plain` while debugging a dagger plan or whenever you need more logs than the standard `dagger` output provides. It is also useful when you want `dagger` to output `json` or `yaml`.

The short flag of `-l` has already been taken for `--log-level`.

There should be a short flag for `--log-format`.

Ideas include `-f` for "format", ...if two char flags are acceptable

[2022-06-20 19:20] marcosnils commented on #2656
Fixed by https://github.com/dagger/dagger/pull/2683

[2022-06-20 19:35] jpadams opened #2687 "Getting Started Locally as main entry point to docs"
<img width="1550" alt="image" src="https://user-images.githubusercontent.com/3187222/174681816-42b45ef2-6379-4b35-b39f-4494012a22ec.png">

[2022-06-20 21:10] jpadams commented on #2557
https://docusaurus.io/docs/search#using-algolia-docsearch

[2022-06-20 21:29] marcosnils opened #2689 "Print Dagger Cloud URL when starting a run"
Fixed by https://github.com/dagger/dagger/pull/2688

[2022-06-20 21:29] marcosnils commented on #2689
Fixed by https://github.com/dagger/dagger/pull/2688

[2022-06-21 03:07] #1912 closed, assigned to gerhard

[2022-06-21 03:22] jpadams commented on #1912
With a more thorough re-imagining coming through work with the team.

[2022-06-21 03:42] #1890 closed

[2022-06-21 04:03] #2687 closed

[2022-06-21 10:55] rmcloughlin opened #2694 ""Get started" link on homepage is broken"
### What is the issue?

On the https://dagger.io/ page there is a "Get started" link to https://docs.dagger.io/getting-started which shows "Page Not Found."

[2022-06-21 18:01] sipsma opened #2695 "🐞 `docker/cli.#Load` is unnecessarily slow"
### What is the issue?

Several users have reported that loading an image into docker takes a very long time. While part of this is inherent (exporting a tarball and loading it into docker can take up a fair bit of memory+cpu), our implementation relies on a lot of extra copying:
1. It uses `core.#Export` to export the tarball to a tmp dir on the local filesystem
2. Then that gets reloaded back in

[2022-06-21 18:39] #2694 closed

[2022-06-21 18:56] jpadams commented on #2694
Thanks so much for spotting this @rmcloughlin! Fixed!

[2022-06-21 19:30] marcosnils commented on #2695
:wave: question.

Does `buildx` currently follow the same approach? It exports the buildkit output and then it uses the engine `Load` API to import it?

Just wondering.

[2022-06-21 19:36] sipsma commented on #2695
This gets a bit more involved as it depends on which driver `buildx` is using:
1. If the default `docker` driver is in use, then all of this is avoided because you aren't using "vanilla" buildkit; it's actually a hybrid buildkit baked into dockerd where the storage backend is adapted to docker's graphdriver (rather than the containerd snapshotter backend used by regular buildkit). While that does

[2022-06-21 19:44] marcosnils commented on #2695
gotcha.. makes sense.. Seems like this process of exporting <> importing images into the engine to make `docker run` happy could potentially be annoying for big images. I'm wondering if there's anything Docker could to do to make `docker run` more friendly to OCI standard images so we don't have to load them into the engine each time.

[2022-06-21 20:38] jpadams opened #2701 "docs: Explain Universe packages/actions in Core Concepts/Actions"
https://docs.dagger.io/1221/action

Mentions two kinds of actions: core and composite. It should be clear that Universe is a set of ready-to-use (and emulate and extend) composite actions.

[2022-06-21 21:55] mircubed commented on #1784
removing @sipsma as assignee since he is working on a few other things right now. @jpadams, Erik offered to help answer questions around buildkit (if needed) whenever we get someone else to work on this.

[2022-06-21 22:39] #2656 closed

[2022-06-22 15:12] #2689 closed

[2022-06-22 20:57] crjm commented on #2628
I researched a bit more and found about a site that does tear-downs of popular apps and how they onboard new users. [The latest one is with SavvyCal](https://www.useronboard.com/how-savvycal-onboards-new-users/?slide=4) (there are others a bit outdated but we can take some UX ideas from those as well).
What's interesting about the site is that **they consider Google Search to be a part of the onbo

[2022-06-22 21:47] mircubed commented on #2140
When Erik gets back from vacation, we can review this issue to see how we can break it down into smaller bitesize issues that can be tracked in an easier way.

[2022-06-23 17:39] jpadams opened #2709 "Add comment to `bash.#Run` set image using `input:` of wrapped `docker.#Run`"
Add comment to `bash.#Run` set image using `input:` of wrapped `docker.#Run` and possibly point to proposed `bash.#RunSimple`

If new users look at the tests, they'll see how to pull and set the image to exec the bash script in, but many users will miss this and assume that the package will provide a container.

related to discussion of defaults vs customizability in:
- https://github.com/dagger/d

[2022-06-24 08:41] morlay commented on #2326
@swenzel-arc

your error just beause of type not match

[code]

[2022-06-24 18:33] jpadams commented on #2135
+1 to this. We could use this today.

cc @Siafu

[2022-06-24 18:50] shykes commented on #2135
Adding to cuelite backlog for triage @mircubed @helderco

[2022-06-24 21:48] crjm commented on #2628
After browsing the docs a bit, I have three observations.

* We are currently using "Next" and "Previous" buttons in the documentation.
We should either exploit this idea or remove them, as the docs order does not seem to follow a certain pattern and may generate confusion in new users.
For example, the last doc in Getting Started is "Install Dagger" even though the first doc will make you install

[2022-06-25 05:22] helderco commented on #2455
I guess now there’s [cake cutter](https://github.com/cake-cutter/cc) 😄

[2022-06-25 06:21] morlay opened #2711 "🐞 image history by core.#Copy always `fileop target`"
### What is the issue?

This is upstream issue, buildkit ignore `llb.customname` for fileop.

With the fix https://github.com/moby/buildkit/pull/2932
The customname show as expected.

<img width="471" alt="image" src="https://user-images.githubusercontent.com/1667873/175767533-d94d616e-2386-4c4d-8776-a53d65e0c4c1.png">

### Log output

_No response_

### Steps to reproduce

_No response_

### Dagg

[2022-06-26 17:09] jpadams commented on #2642
Principles:
- Use multi-arch images
- keep it simple but useful
- pithy comments with links

[2022-06-26 18:02] jpadams commented on #2643
https://stackoverflow.com/questions/57534295/npm-err-tracker-idealtree-already-exists-while-creating-the-docker-image-for

[2022-06-26 18:48] jpadams commented on #2643
https://github.com/jpadams/nodetestnpm

https://github.com/jpadams/nodetestyarn

[2022-06-26 18:53] jpadams opened #2714 "Guide: Optimal settings for working on Dagger projects (version control, editors, etc)"
- Version Control:
  - tab size: 4
    - GitHub: https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/managing-your-tab-size-rendering-preference
  - GitLab: ??

etc

[2022-06-26 21:13] jpadams commented on #437
Seems like the issue is here:
https://github.com/dagger/dagger/blob/main/solver/solver.go#L117-L132
which was inspired by
https://github.com/moby/buildkit/blob/master/frontend/dockerfile/dockerfile2llb/convert.go
which seems to have added quite a bit of multi-arch support since January 2022
https://github.com/moby/buildkit/commits/master/frontend/dockerfile/dockerfile2llb/convert.go

[2022-06-27 11:27] TomChv commented on #2209
That's strange :O I'll work on this one

[2022-06-27 14:22] rockyburt opened #2715 "Dagger Inception - or running dagger in dagger✨ <title>"
### What are you trying to do?

This maybe be more of a documentation request.  But essentially, having a good way to run dagger from within dagger.  This should solve issues where dagger with certain command line options (ie --platform) could be run under a command dagger action set.

Use Case:
Steps to run:
1. build project documentation via one or more dagger actions (only needs to run on defau

[2022-06-27 15:28] TomChv commented on #2209
That's weird, the official example works : https://github.com/dagger/dagger/blob/main/pkg/universe.dagger.io/go/test/container.cue#L21 :/

[2022-06-27 16:35] helderco commented on #1478
Maybe the same solution from #1426 (detecting incompatible types) can help with this.

[2022-06-27 20:45] jpadams commented on #2636
https://github.com/dagger/dagger/tree/main/pkg/universe.dagger.io/x/tom.chauveau.pro%40icloud.com/kubernetes

[2022-06-27 21:48] gerhard commented on #2557
Current status: https://github.com/dagger/dagger/pull/2348#issuecomment-1167944513

[2022-06-27 23:47] jpadams commented on #1478
Glad we have this explanation in the docs as to why you need `{}` or `_`, though:
https://docs.dagger.io/1241/docker#exports

[2022-06-28 15:41] jpadams commented on #2643
motivation: what, why
steps
gif/video
conclusion
what next?

[2022-06-28 20:32] mircubed commented on #493
based on this comment from @shykes , @aluzzardi and @helderco please check if this needs to be re-opened?

discord comment -https://discord.com/channels/707636530424053791/796905486145683506/989285536420216872

[2022-06-29 20:14] verdverm opened #2728 "🐞 Cannot `go install dagger@latest`"
### What is the issue?

[code]

Go 1.18

### Log output

_No response_

### Steps to reproduce

_No response_

### Dagger version

n/a

### OS version

Debian 10 on ChromeOS | amd64

[2022-06-29 20:16] verdverm commented on #2715
I have an example here: https://github.com/hofstadter-io/harmony-cue

Managed to go 3 turtles deep, but they could go all the way down

[2022-06-29 20:28] verdverm commented on #2714
For editors, you will want to get the CUE plugin, which exist for most major IDEs (I'm using nvim). Dagger plans are written in CUE and there is a `cue fmt` tool, tl;dr tabs for spacing, width is up to you as it is for everyone.

https://docs.dagger.io/1226/coding-style

Version control, probably whatever you already use and/or are comfortable with.

Build systems the same, https://docs.dagger.io/

[2022-06-29 20:31] crjm opened #2729 "CLI Glossary/Manual"
It would be nice to add a page to the docs where each possible command is explained with a one-liner description so first-time CLI users can have a quick reference of the available commands.

Inspiration:
* [GitHub references this as a manual](https://cli.github.com/manual/).
* [Vercel has it as part of the docs](https://vercel.com/docs/cli)
* [Netlify has a dedicated webpage](https://cli.netlify.

[2022-06-29 20:37] verdverm commented on #2680
We just talked about this issue on the CUE Slack (https://cuelang.slack.com/archives/CLT3ULF6C/p1656418916232699)

tl;dr, non-regular fields (like optional) have different semantics than regular fields. In particular they are not seen during looping and seemingly if (guards)

That being said, this may change with recent comprehension work on tip, but not released yet.

We could potentially test if

[2022-06-29 21:23] troncoso opened #2730 "npm package?"
### What is the issue?

I've looked all over the place, but any searching regarding "dagger.io" and "npm" shows absolutely nothing. Is there really not an npm package? I see there's a yarn one in the "dagger universe".

[2022-06-29 22:05] jpadams commented on #2730
@troncoso thanks for this issue! We're creating some quickstart templates for node.js including for `npm` and `yarn`. The templates will have an example Dagger project that will show how to run `dagger do build` or similar to get your node project to build, test, etc. Inside, the Dagger plan would run `npm install`, `npm xxx`, etc.

Would it be valuable to have an example like that?

Would you lik

[2022-06-30 12:16] juaruipav commented on #2228
Any progress on this? I'm sadly in the same situation.

Thanks!
JJ

[2022-06-30 12:30] grouville commented on #2053
Thanks for the feedback, I had to pause it for a bigger feature. But I'll resume it starting tomorrow 😇

If you think your issue is related to https://github.com/dagger/dagger/issues/2228, I'll had to dig a bit more because it's maybe a little too complex for me. Nevertheless, we prioritize it in the backlog 😇

[2022-06-30 12:31] troncoso commented on #2730
@jpadams I figured it out for myself. I don't know if there was an easier way, but I just copied the yarn package and changed everything to be "npm". Also for the packages installed by in alpine I changed them from "yarn" to "nodejs-current" (for node 18) and "npm".

[2022-06-30 14:28] dolanor opened #2731 "🐞 `docker.#Pull` `resolveMode` `preferLocal` still try to connect to remote registry"
### What is the issue?

Working offline, I was expecting being able to run my actions. I just needed to put the `resolveMode` of `docker.#Pull` in `preferLocal`. Excep it still tries to do a `HEAD` on the registry:

### Log output

[code]

### Steps to reproduce

Use
**tty.ok.cue**
[code]
and run `dagger do --no-cache  -p ./tty.ok.cue all`

### Dagger version

dagger devel (21a15a84) linux/amd64 (

[2022-06-30 14:54] jpadams commented on #2730
@troncoso here's another simpler approach you could try as well:

[code]

[2022-06-30 16:06] troncoso opened #2732 "✨ Let core.#Source use a file list for includes/excludes"
### What are you trying to do?

When I use `core.#Source` for a node project, I only want to include files that are actually tracked in git. Conveniently, we already have files that tell git what to ignore ie. `.gitignore`. It would be nice if we had 2 things:

1. Recursive exclude - Currently, excluding "node_modules" only excludes the top level folder, but not any in subfolders
2. The ability to

[2022-06-30 16:38] jpadams opened #2733 "Explore and document how to write Universe package unit tests"
Since your test in test/image.cue has package codecov at the top, and you're in the codecov package directory tree, you don't need to import the universe.dagger.io/alpha/codecov package and don't need to use codecov.#Image just #Image. Like this:

[code]

Comment from user:

This makes sense because for example, several packages may have an `#Image` action/definition and these could conflict in a

[2022-06-30 17:08] mircubed commented on #2695
@sipsma when you return from vacation, can you review this priority with @samalba and see if there is a workaround that we can promote to our users in the meantime while we work on a better fix?

[2022-06-30 19:33] jpadams opened #2734 "Detailed docs for core Actions"
### What is the issue?

related: #2732

[2022-06-30 21:09] crjm opened #2735 "[Docs] DocSearch User Events"
Registering anonymous user events in the docs would be great as it would bring us a great source of information for the decision-making process when designing the docs.
Right now, we are using the [latest version of DocSearch](https://docsearch.algolia.com/docs/DocSearch-v3), so we would rely on [Algolia's User Events](https://www.algolia.com/doc/guides/sending-events/getting-started/).

[2022-06-30 23:07] samalba commented on #2053
@juaruipav I tried a quick repro, I've setup an HTTP proxy on a remote box. Configured HTTP+HTTPS proxy my local Docker Desktop (using the Mac OS version 4.9.1 (81317)). I tried a simple dagger do and few curls from a dagger actions. I can see all the requests properly proxied via the remote http proxy. Can you share more about your setup?

[2022-07-01 06:44] juaruipav commented on #2053
Hi @samalba, sure here you have more details. Basically I'm using Ubuntu 18.04 behind a company proxy and using locally cntlm. One of the first steps of almost every example is to download alpine stuff via https, so we have the following output:

`
[✗] actions.deps
#8 0.325 fetch https://dl-cdn.alpinelinux.org/alpine/v3.15/main/x86_64/APKINDEX.tar.gz
#8 5.331 fetch https://dl-cdn.alpinelinux.org/a

[2022-07-01 08:43] slumbering commented on #2735
@crjm Algolia metrics are just traking searchs from docs. You are talking about tracking user paths right ?

[2022-07-01 12:55] crjm commented on #2735
Exactly.
I have to research a bit more, but Algolia [offers an endpoint](https://www.algolia.com/doc/rest-api/insights/) to send user events to with [Google Tag Manager](https://www.algolia.com/doc/guides/sending-events/implementing/connectors/google-tag-manager/).
I'm guessing this implies adding some sort of user consent mechanism to be GDPR compliant.

[2022-07-01 14:40] helderco commented on #1343
Related to #2303

[2022-07-01 17:18] mircubed commented on #2557
Since the PR was merged, could we close this? @gerhard

[2022-07-01 17:20] samalba commented on #2053
Thanks for the extra context, I retried with the env vars on the docker client and it skips the proxy this time. It confirms that Docker Desktop actually redirect all the network from the docker vm to the proxy. I'll look for a fix.

[2022-07-01 17:22] troncoso commented on #2732
I do have a question about this as it is being considered. Am I approaching this the wrong way? In the [yarn](https://github.com/dagger/dagger/blob/main/pkg/universe.dagger.io/yarn/test/test.cue) example, it pulls the source code from github:

[code]

and uses those files. That makes sense for a test, but it didn't make sense to me for production use. When running this in github actions, for examp

[2022-07-01 18:21] jpadams commented on #2730
@troncoso Hoping you can make a PR for this from what you have working above 🙏 for `npm`.

[2022-07-04 10:55] helderco commented on #2437
Hey, we're planning on redesigning Client API (#2470). We should take this into consideration then.

[2022-07-04 10:55] #2437 closed

[2022-07-05 17:17] #1872 closed

[2022-07-05 20:25] jpadams opened #2747 "Guide on how to run `dagger do` sub actions and `--with` and `--<flag>` args"
<img width="873" alt="image" src="https://user-images.githubusercontent.com/3187222/177410362-60d4a6f8-acb5-4d1e-b6f0-496e3b95d85a.png">

<img width="722" alt="image" src="https://user-images.githubusercontent.com/3187222/177410401-3a9126c4-7165-4191-a543-aa5e6ff86e8b.png">

[2022-07-05 20:41] verdverm commented on #2680
Your `dagger.#Secret` will never equal bottom, since it is defined as a struct with fields already, thus it always has a value and the `?` is more like a no-op (though that is an oversimplification beyond this limited context)

[2022-07-05 22:56] samalba commented on #2053
@juaruipav @MarsMike @nipuna-perera if you have some time to spare, would you mind trying this fix? https://github.com/dagger/dagger/pull/2748 and confirm it works for you? I was able to forward all requests to a remote proxy successfully.

To try it out, you'll simply need to set HTTP_PROXY or HTTPS_PROXY in the same session where you run `dagger do`.

[2022-07-05 23:17] sagikazarmark commented on #2680
@verdverm that's not what I experience.

When I make `token` a non-optional field in the above example and the env var is not set, dagger complains about the token not being set.

That makes me believe that the equality check works for the CODECOV_TOKEN env var. (It still needs the line above though, otherwise it indeed doesn't work)

The documentation also contains examples for optional secret en

[2022-07-06 14:07] juaruipav commented on #2053
Cool! Everything works as expected. Already commented in the PR. Thank you very much for the support! :+1:

[2022-07-06 17:34] crjm opened #2752 "[Docs] Improve Sidebar Labeling and Hierarchy"
The sidebar in the docs is the index for the documentation content. We must rethink the labels and structure of the sidebar to improve UX and provide an easier way to infer what information a doc page will have based on its sidebar label.

[2022-07-06 18:12] helderco commented on #2303
There's current usage patterns around this that we need to replace.

A nested core action can be used to force a dependency on another core action. Execution is ignored as expected, but the other core action is recognized as a dependency and therefore runs first.

You can see examples in https://github.com/dagger/dagger/blob/0b91998c66b8c6c0021c9459aa40aca11b88e5dc/tests/tasks/exec/start_stop_exec

[2022-07-06 21:05] #1859 closed

[2022-07-07 01:40] #2053 closed

[2022-07-07 01:40] #1369 closed

[2022-07-07 01:47] samalba opened #2756 "Support http/https proxy for core.#GitPull, core.#HTTPFetch, core.#Pull"
PR #2748 added support for HTTP and HTTPS proxy from environment variables inside actions tasks. However it actually supports proxies for anything using `core.#Exec`. The proxy env vars will be ignored for other ops involving network connections: `core.#GitPull`, `core.#HTTPFetch`, `core.#Pull`.

It's not critical as most packages are built on top of `core.#Exec`. Also, not sure if there is a prop

[2022-07-07 17:41] kralicky commented on #2614
Closed by #2745

[2022-07-07 17:41] #2614 closed

[2022-07-07 22:11] aluzzardi commented on #2695
That would work great. The only downside (and the reason it's this way in the first place) is `cli.#Load` is built upon the CLI package and supports whatever `cli.#Run` supports -- loading to a remote engine, ssh auth through `dagger.#Secret`, ..

Having a native `#Load` would imply running docker on the client machine, without container:

- `#Load` will need the machine running `dagger` to have t

[2022-07-07 23:56] sipsma commented on #2695
I'll also add that the real fix here should be on the BuildKit-side, all of these other ideas are just hacks to workaround missing features in BuildKit. They would be pretty large changes though; the ability to mount the result of an export directly in an ExecOp would be perfect, but even just the ability to call export from the Gateway API could help a lot.

[2022-07-09 15:31] dolanor opened #2771 "🐞 event log in TTY seems to only update/display 1 group at a time"
### What is the issue?

It seems that log output for each group is somewhat buggy as only 1 group has a live stream of events getting updated.

### Log output

_No response_

### Steps to reproduce

[code]

### Dagger version

v0.2.22

### OS version

Ubuntu 20.04

[2022-07-09 15:38] dolanor opened #2772 "🐞 small lines in TTY output don't clean after them"
### What is the issue?

if a previous line was big and now it draws a smaller line, it seems that the end is not clean correctly afterwards (with padding). It creates some glitches.

### Log output

_No response_

### Steps to reproduce

[code]

### Dagger version

v0.2.22

### OS version

Ubuntu 20.04

[2022-07-10 13:20] helderco opened #2774 "✨ Allow multiple tags in `docker.#Push` and `cli.#Load`"
### What are you trying to do?

Sometimes you want to push an image to multiple tags (e.g., `0.1.0` and `latest`). BuildKit supports this by setting `name` to multiple values split by a comma:

[code]

<details><summary>Full plan</summary>

[code]

</details>

This doesn't work only because we're parsing `dest` and normalizing it, but we can change this. Either:
1. Split string by comma, normalize

[2022-07-10 17:10] helderco commented on #2680
The optional sign isn't handled entirely in CUE. It's used by the engine to decide if the plan should fail or not if the var isn't set, unless it's a string and there's a default value.

[2022-07-10 19:51] helderco commented on #2680
@sagikazarmark If you have a simple value instead of a struct:

[code]
...you can still scope it more locally, it's the same reason as my first comment:

[code]

Notice the embedding (only value, no field):

[code]

[2022-07-10 23:24] helderco commented on #2680
@sagikazarmark You also said that as soon as you added other vars it stopped working: https://github.com/dagger/dagger/issues/2680#issuecomment-1159781477

But looking at the errors you see this:

[code]

Without seeing your plan, this makes me think that you have this:

[code]

You can't send `client.env` into actions because that'll copy the core action and run it again but this time with concre

[2022-07-10 23:57] helderco opened #2776 "Refactor `core.#Stop` and `core.#SendSignal` to not reference `core.#Start` directly"
## Problem

We want to protect the user from trying to nest core actions since they'll be ignored for execution. As described in the following issue, the `#Stop` and `#SendSignal` core actions reference `#Start` as a valid use case here:

- https://github.com/dagger/dagger/issues/2303#issuecomment-1176529119

## Solution

Refactor out this pattern to avoid referencing another core action directly.

[2022-07-11 00:56] helderco commented on #2251
I think this should be prioritized to help with changing configs, especially with the initiatives possibly bringing lots of changes. It would be easier to have a consensus on https://github.com/dagger/dagger/pull/2210, for example, if we could actually warn users if they're using something that deprecated.

[2022-07-11 14:57] sagikazarmark commented on #2680
Thanks @helderco! Indeed, this seems to be working, but I wonder what the added value of the optional feature is if you need "workarounds" like this to use it. I mean, falling back to an empty string and comparing with that sounds like a much cleaner solution at this point. This is why I said this feature is more confusing than useful at the moment.

You are absolutely right and makes sense. This

[2022-07-11 15:16] TomChv commented on #2774
I think `dest: string | [...string]` is simpler than using `,`.
It will not deprecate anything, just add a feature.

I agree with option 2, since outputs will be managed differently, that will be painful to work with multiple fields.
For instance, with `string | [...string]`, current users that use `docker.#Push` and use the reference, should have no additional changes to do.

Just a question, is

[2022-07-11 15:26] mircubed commented on #2557
@crjm to clarify next steps and close if needed

[2022-07-11 16:08] TomChv commented on #2732
You can do both, you could have a step that pull your repository and another step that use your current directory.

For instance

[code]

[2022-07-11 16:09] TomChv commented on #2732
`**/node_modules` do not works?

That's a good idea, WDYT @helderco ?

[2022-07-11 16:45] TomChv commented on #2589
You must first install it using `dagger project update github.com/mlkmhd/dagger-maven`

[Look at this guide for more information](https://docs.dagger.io/1239/making-reusable-package#push-package-on-repository)

[2022-07-11 16:49] TomChv commented on #2580
@jpadams Any update on this issue?

[2022-07-11 17:01] TomChv commented on #2485
@dolanor Should we close this issue?

[2022-07-11 17:13] TomChv commented on #2451
@Youngshark3 Hey 👋

Have you made some progress? Your use case looks interesting!

/cc @jpadams

[2022-07-11 17:14] TomChv commented on #2449
Any progress on this issues?

[2022-07-11 17:15] TomChv commented on #2438
@jpadams @gerhard

[2022-07-11 17:19] TomChv commented on #2415
I totally agree with your comments!

WDYT @helderco @shykes @jpadams ?

[2022-07-11 17:26] TomChv commented on #2407
Great suggestion!

Feel free to open a PR that includes this change :rocket:

[2022-07-11 17:35] TomChv commented on #2377
It actually does, we already have a type named `dagger.#Secret` that can store secret.

See [dagger secrets docs](https://docs.dagger.io/1204/secrets/#what-are-secrets) for more information.

[2022-07-11 20:39] #2456 closed

[2022-07-11 21:51] crjm commented on #2557
Right now we have a few results that show up as suggestions when using the search input that shouldn't be there or should have a different hierarchy.
For example, when searching "dagger cloud", some pages that shouldn't be rendered appear:

![image](https://user-images.githubusercontent.com/70334844/178363544-6fb3a2a7-d940-417c-90fe-f4b7da9b00ac.png)

**This particular search is addressed in #2764